// installation.less
// ----------

.install-welcome-text {
    color: #686868;
    text-align: center;
    margin: 0 auto;
    height: 70px;
    width: 100%;

    h1 {
        color: #686868;
        font-size: 30px;
        line-height: 36px;
    }
    h4 {
    	height: 22px;
        font-size: 18px;
        line-height: 22px;
    }

}

.start-btn-container {
    text-align: center;
    margin: 50px auto 149px auto;
    
    .start-install-btn {
        width: 263px;
        height: 49px;
        background: #0094BC;
        border: 1px solid #0094BC;
        color: white;
        p {
            font-size: 16px;
            margin: auto;
        }
    }
}



//Kora config pages
.kora-body-content {
    height: auto; //change this
}

.install-progress-bar {
    color: #3F3F3F;
    width: 90%;
    max-width: 1300px;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 75px;
    text-align: left;
    margin: 0 auto;

    .current-step {
        color: #0094BC;
    }
    ul {
        width: 100%;
        padding-left: 0px;
        
        li {
            display: inline-block;
        }
        .right-arrow {
            padding-left: 7px;
            padding-right: 7px;
        }
    }

}

.field-progress-bar {
    color: #3F3F3F;
    width: 90%;
    max-width: 1300px;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 40px;
    text-align: left;
    margin: 0 auto;
    
    .current-step {
        color: #0094BC;
    }
    
    ul {
        width: 100%;
        padding-left: 0px;
        li {
            display: inline-block;
        }
    }

}

.form-container {
    width: 100%;
    background-color: #F9F9F9;
    font-size: 16px;
    padding-bottom: 98px;
    
    .project{
        display: block;
    }
    .season{
        display: none;
    }
    .excavation{
        display: none;
    }
    .resource{
        display: none;
    }
    .subject{
        display: none;
    }

    .form-prompt-wrapper {
        margin: 0 auto;
        color: #686868;
        text-align: left;
        max-width: 1300px;
        padding-left: 4.3%;

        .form-prompt{
            height: auto;
            padding-top: 45px;
            width: 100%;

            .prompt0 {
                line-height: 28px;
            }
            .prompt1 {
                line-height: 28px;
            }
            .prompt2 {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    
    .form-wrapper{
        margin: 0 auto;
        padding-top: 70px;
        max-width: 1300px;
        
        .dot {
            height: 6px;
            width: 6px;
            background-color: #0094BC;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 2px;
            margin-right: 5px;
        }
        
        form {
            display: block;
            position: relative;
        }
        #arcs-name{
            margin-top: 70px;
        }
        .row {
            width: 100%;
            display: inline-flex;
            padding-bottom: 25px;
            
            p{
                display: inline-block;
            }
            .input-left {
                width: 40%;
                margin: 0 auto;
                
            }
            .input-right {
                width: 40%;
                margin: 0 auto;
            }
            .input-full {
                width: 90%;
                margin: 0 auto;
                
                .create-project-dropdown{
                    border: 1px solid #D8D8D8;
                    display: block;
                    font-size: 12px;
                    height: 53px;
                    outline: none;
                    padding-left: 15px;
                    padding-right: 15px;
                    width: 100%;
                }
                .date-select{
                    display: block;
                    
                    select{
                        border: 1px solid #D8D8D8;
                        display: inline-block;
                        font-size: 12px;
                        height: 53px;
                        outline: none;
                        padding-left: 15px;
                        padding-right: 15px;
                        width: 33.42%;
                    }
                }
                .period-select{
                    display: block;

                    select {

                        border: 1px solid #D8D8D8;
                        display: inline-block;
                        font-size: 12px;
                        height: 53px;
                        outline: none;
                        padding-left: 15px;
                        padding-right: 15px;
                        width: 24.42%;
                    }

                    //
                    //.date-input{
                    //    display:inline-block;
                    //    width: 50%;
                    //}
                    //.period-project-dropdown{
                    //    border: 1px solid #D8D8D8;
                    //    display: inline-block;
                    //    font-size: 12px;
                    //    height: 53px;
                    //    outline: none;
                    //    padding-left: 15px;
                    //    padding-right: 15px;
                    //    width: 24.6%;
                    //}
                }
            }
            input{
                width: 100%;
                background-color: #fff;
                border: 1px solid #D8D8D8;
            }
            .chosen-select{
                display: none;
            }
            .chosen-container {
                background-color: white;

                .chosen-choices {
                    width: 100% !important;
                    margin-left: auto !important;
                    margin-right: auto !important;
                    border: solid lightgrey 1px !important;
                
                    span {
                      text-transform: none;
                    }

                    .search-choice{
                        margin: 13px 0px 0px 15px;
                        font-size: 12px;
                    }
    
                    .search-field {
                        padding: 12px 12px 12px 15px;
                        font-size: 12px;

                        input{
                            color: #686868 !important;
                        }
                    }
                }
            }
            
        }
        
        /*#kora-name {
            padding-top: 70px;
            padding-bottom: 61px;
        }*/
        
        .divider {
            padding-top: 49px;
            margin-top: 61px;
            width: 90%;
        }
        
        /*#ctn-create {
            display: none;
        }*/
        
        .bottom{
            width: 90%;
            margin: 0 auto;
            
            .required {
                width: 50%;
                height: auto;
                display: inline-block;

                p{
                    display: inline-block;
                }
            }
            .cont-btn-container {
                width: 49%;
                text-align: right;
                height: auto;
                display: inline-block;

                .required-notice {
                    display: none;
                    color: red;
                }

                .cont-install-btn {
                    width: auto;
                    height: 49px;
                    background: #0094BC;
                    border: 1px solid #0094BC;
                    color: white;
                    
                    p {
                        font-size: 16px;
                        margin: auto;
                    }
                }
            }
        }
        
    }
}






// .keywords-uploadForm {
//     /*!
//   Chosen, a Select Box Enhancer for jQuery and Prototype
//   by Patrick Filler for Harvest, http://getharvest.com
  
//   Version 1.4.2
//   Full source at https://github.com/harvesthq/chosen
//   Copyright (c) 2011-2015 Harvest http://getharvest.com
  
//   MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
//   This file is generated by `grunt build`, do not edit it by hand.
//   */
  
//     /* @group Base */
//     .chosen-container {
//       width: 100% !important;
//       position: relative;
//       display: inline-block;
//       vertical-align: middle;
//       font-size: 16px;
//       zoom: 1;
//       *display: inline;
//       -webkit-user-select: none;
//       -moz-user-select: none;
//       user-select: none;
//       margin-top: .5em !important;
//     }
//     .chosen-choices {
//       width: 90% !important;
//       margin-left: auto !important;
//       margin-right: auto !important;
//       border: solid lightgrey 1px !important;
  
//       span {
//         text-transform: none;
//       }
//     }
//     .chosen-drop {
//       display: none !important;
//       width: 90% !important;
//       left: 0;
//       right: 0;
//       margin-left: auto !important;
//       margin-right: auto !important;
  
//     }
//     .chosen-container * {
//       -webkit-box-sizing: border-box;
//       -moz-box-sizing: border-box;
//       box-sizing: border-box;
//     }
//     .chosen-container .chosen-drop {
//       position: absolute;
//       top: 100%;
//       left: -9999px;
//       z-index: 1010;
//       width: 100%;
//       border: 1px solid #aaa;
//       border-top: 0;
//       background: #fff;
//       /*-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
//       -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
//       box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);*/
//     }
//     .chosen-container.chosen-with-drop .chosen-drop {
//       left: 0;
//     }
//     .chosen-container a {
//       cursor: pointer;
//     }
//     .chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
//       margin-right: 4px;
//       overflow: hidden;
//       white-space: nowrap;
//       text-overflow: ellipsis;
//       font-weight: normal;
//       color: #999999;
//     }
//     .chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
//       content: ":";
//       padding-left: 2px;
//       vertical-align: top;
//     }
  
//     /* @end */
//     /* @group Single Chosen */
//     .chosen-container-single .chosen-single {
//       position: relative;
//       display: block;
//       overflow: hidden;
//       padding: 13px 0 0 13px;
//       height: 49px;
//       border: 1px solid #adc8de;
//       /*border-radius: 5px;*/
//       background-color: #f5fafc;
//       /*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
//       background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
//       background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
//       background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
//       background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
//       background-clip: padding-box;
//       box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);*/
//       color: #444;
//       text-decoration: none;
//       white-space: nowrap;
//       line-height: 24px;
//       outline: none;
//     }
//     .chosen-container-single .chosen-default {
//       color: #417CBA;
//     }
//     .chosen-container-single .chosen-single span {
//       display: block;
//       overflow: hidden;
//       margin-right: 26px;
//       color: #417cba;
//       text-overflow: ellipsis;
//       white-space: nowrap;
//     }
//     .chosen-container-single .chosen-single-with-deselect span {
//       margin-right: 38px;
//     }
//     .chosen-container-single .chosen-single abbr {
//       position: absolute;
//       top: 6px;
//       right: 26px;
//       display: block;
//       width: 12px;
//       height: 12px;
//       background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
//       font-size: 1px;
//     }
//     .chosen-container-single .chosen-single abbr:hover {
//       background-position: -42px -10px;
//     }
//     .chosen-container-single.chosen-disabled .chosen-single abbr:hover {
//       background-position: -42px -10px;
//     }
//     .chosen-container-single .chosen-single div {
//       position: absolute;
//       top: 12px;
//       right: 0;
//       display: block;
//       width: 18px;
//       height: 100%;
//     }
//     .chosen-container-single .chosen-single div b {
//       display: block;
//       width: 100%;
//       height: 100%;
//       background: url('../img/chosen-sprite.png') no-repeat 0 2px;
//     }
//     .chosen-container-single .chosen-search {
//       position: relative;
//       z-index: 1010;
//       margin: 0;
//       padding: 3px 4px;
//       white-space: nowrap;
//     }
//     .chosen-container-single .chosen-search input[type="text"] {
//       margin: 1px 0;
//       padding: 4px 20px 4px 5px;
//       width: 100%;
//       height: auto;
//       outline: 0;
//       color: #417CBA;
//       border: 1px solid #adc8de;
//       background: white url('../img/chosen-sprite.png') no-repeat 100% -20px;
//       font-size: 1em;
//       line-height: normal;
//       border-radius: 0;
//       text-transform: none;
//     }
//     .chosen-container-single .chosen-drop {
//       margin-top: -1px;
//       border-radius: 0 0 4px 4px;
//       background-clip: padding-box;
//     }
//     .chosen-container-single.chosen-container-single-nosearch .chosen-search {
//       position: absolute;
//       left: -9999px;
//     }
  
//     /* @end */
//     /* @group Results */
//     .chosen-container .chosen-results {
//       color: #417cba;
//       position: relative;
//       overflow-x: hidden;
//       overflow-y: auto;
//       margin: 0 4px 4px 0;
//       padding: 0 0 0 4px;
//       max-height: 240px;
//       -webkit-overflow-scrolling: touch;
//     }
//     .chosen-container .chosen-results li {
//       display: none;
//       margin: 0;
//       padding: 15px 6px;
//       list-style: none;
//       line-height: 15px;
//       opacity: 0.4;
//       word-wrap: break-word;
//       -webkit-touch-callout: none;
//     }
//     .chosen-container .chosen-results li:hover {
//       opacity: 1;
//     }
//     .chosen-container .chosen-results li.active-result {
//       display: list-item;
//       cursor: pointer;
//     }
//     .chosen-container .chosen-results li.disabled-result {
//       display: list-item;
//       color: #ccc;
//       cursor: default;
//     }
//     .chosen-container .chosen-results li.result-selected {
//       opacity: 1;
//     }
//     .chosen-container .chosen-results li.highlighted {
//       /*background-color: #3875d7;
//       background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
//       background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
//       background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
//       background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
//       background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);*/
//       color: #417cba;
//       opacity: 1;
//     }
//     .chosen-container .chosen-results li.no-results {
//       color: #417cba;
//       opacity: 1;
//       display: list-item;
//       background-color: #f5fafc;
//     }
//     .chosen-container .chosen-results li.group-result {
//       display: list-item;
//       font-weight: bold;
//       cursor: default;
//     }
//     .chosen-container .chosen-results li.group-option {
//       padding-left: 15px;
//     }
//     .chosen-container .chosen-results li em {
//       text-decoration: underline;
//     }
  
//     /* @end */
//     /* @group Multi Chosen */
//     .chosen-container-multi .chosen-choices {
//       position: relative;
//       overflow: hidden;
//       margin: 0;
//       padding: 0 5px;
//       width: 100%;
//       height: auto !important;
//       /*border: 1px solid #aaa;
//       background-color: #fff;
//       background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
//       background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
//       background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
//       background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
//       background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);*/
//       cursor: text;
//     }
//     .chosen-container-multi .chosen-choices li {
//       float: left;
//       list-style: none;
//     }
//     .chosen-container-multi .chosen-choices li.search-field {
//       margin: 0;
//       padding: 0;
//       white-space: nowrap;
//     }
//     .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
//       margin: 1px 0;
//       padding: 0;
//       height: 25px;
//       outline: 0;
//       border: 0 !important;
//       background: transparent !important;
//       -webkit-box-shadow: none;
//       -moz-box-shadow: none;
//       box-shadow: none;
//       color: #999;
//       font-size: 100%;
//       line-height: normal;
//       border-radius: 0;
//     }
//     .chosen-container-multi .chosen-choices li.search-choice {
//       position: relative;
//       margin: 5px 0px 0px 5px;
//       padding: 4px 20px 6px 5px;
//       border: 1px solid #aaa;
//       max-width: 100%;
//       //border-radius: 3px;
//       background-color: #f9f9f9;
//       //background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
//       //background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
//       //background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
//       //background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
//       //background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
//       background-size: 100% 19px;
//       background-repeat: repeat-x;
//       background-clip: padding-box;
//       //-webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
//       //-moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
//       //box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
//       color: #333;
//       line-height: 13px;
//       cursor: default;
//     }
//     .chosen-container-multi .chosen-choices li.search-choice span {
//       word-wrap: break-word;
//     }
//     .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
//       position: absolute;
//       top: 4px;
//       right: 3px;
//       display: block;
//       width: 12px;
//       height: 12px;
//       background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
//       font-size: 1px;
//       margin-top: 2px;
//     }
//     .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
//       background-position: -42px -10px;
//     }
//     .chosen-container-multi .chosen-choices li.search-choice-disabled {
//       padding-right: 5px;
//       border: 1px solid #ccc;
//       background-color: #e4e4e4;
//       background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
//       background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
//       background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
//       background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
//       background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
//       color: #666;
//     }
//     .chosen-container-multi .chosen-choices li.search-choice-focus {
//       background: #d4d4d4;
//     }
//     .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
//       background-position: -42px -10px;
//     }
//     .chosen-container-multi .chosen-results {
//       margin: 0;
//       padding: 0;
//     }
//     .chosen-container-multi .chosen-drop .result-selected {
//       display: list-item;
//       color: #417cba;
//       cursor: default;
//     }
  
//     /* @end */
//     /* @group Active  */
//     .chosen-container-active .chosen-single {
//       border: 1px solid #5897fb;
//       /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
//       -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
//       box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
//     }
//     .chosen-container-active.chosen-with-drop .chosen-single {
//       /*border: 1px solid #aaa;
//       -moz-border-radius-bottomright: 0;
//       border-bottom-right-radius: 0;
//       -moz-border-radius-bottomleft: 0;
//       border-bottom-left-radius: 0;
//       background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
//       background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
//       background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
//       background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
//       background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
//       box-shadow: 0 1px 0 #fff inset;*/
//     }
//     .chosen-container-active.chosen-with-drop .chosen-single div {
//       border-left: none;
//       background: transparent;
//     }
//     .chosen-container-active.chosen-with-drop .chosen-single div b {
//       background-position: -16px 2px;
//     }
//     .chosen-container-active .chosen-choices {
//       /*border: 1px solid #5897fb;
//       -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
//       -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
//       box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
//     }
//     .chosen-container-active .chosen-choices li.search-field input[type="text"] {
//       color: #417cba !important;
//     }
  
//     /* @end */
//     /* @group Disabled Support */
//     .chosen-disabled {
//       opacity: 0.5 !important;
//       cursor: default;
//     }
//     .chosen-disabled .chosen-single {
//       cursor: default;
//     }
//     .chosen-disabled .chosen-choices .search-choice .search-choice-close {
//       cursor: default;
//     }
  
//     /* @end */
//     /* @group Right to Left */
//     .chosen-rtl {
//       text-align: right;
//     }
//     .chosen-rtl .chosen-single {
//       overflow: visible;
//       padding: 0 8px 0 0;
//     }
//     .chosen-rtl .chosen-single span {
//       margin-right: 0;
//       margin-left: 26px;
//       direction: rtl;
//     }
//     .chosen-rtl .chosen-single-with-deselect span {
//       margin-left: 38px;
//     }
//     .chosen-rtl .chosen-single div {
//       right: auto;
//       left: 3px;
//     }
//     .chosen-rtl .chosen-single abbr {
//       right: auto;
//       left: 26px;
//     }
//     .chosen-rtl .chosen-choices li {
//       float: right;
//     }
//     .chosen-rtl .chosen-choices li.search-field input[type="text"] {
//       direction: rtl;
//     }
//     .chosen-rtl .chosen-choices li.search-choice {
//       margin: 3px 5px 3px 0;
//       padding: 3px 5px 3px 19px;
//     }
//     .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
//       right: auto;
//       left: 4px;
//     }
//     .chosen-rtl.chosen-container-single-nosearch .chosen-search,
//     .chosen-rtl .chosen-drop {
//       left: 9999px;
//     }
//     .chosen-rtl.chosen-container-single .chosen-results {
//       margin: 0 0 4px 4px;
//       padding: 0 4px 0 0;
//     }
//     .chosen-rtl .chosen-results li.group-option {
//       padding-right: 15px;
//       padding-left: 0;
//     }
//     .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
//       border-right: none;
//     }
//     .chosen-rtl .chosen-search input[type="text"] {
//       padding: 4px 5px 4px 20px;
//       background: white url('../img/chosen-sprite.png') no-repeat -30px -20px;
//       direction: rtl;
//     }
//     .chosen-rtl.chosen-container-single .chosen-single div b {
//       background-position: 6px 2px;
//     }
//     .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
//       background-position: -12px 2px;
//     }
  
//     /* @end */
//     /* @group Retina compatibility */
//     @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
//       .chosen-rtl .chosen-search input[type="text"],
//       .chosen-container-single .chosen-single abbr,
//       .chosen-container-single .chosen-single div b,
//       .chosen-container-single .chosen-search input[type="text"],
//       .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
//       .chosen-container .chosen-results-scroll-down span,
//       .chosen-container .chosen-results-scroll-up span {
//         background: url('../img/chosen-sprite2x.png') no-repeat 52px 37px !important;
//       }
//     }
//     /* @end */
//   }
