// installation.less
// ----------

.install-welcome-text {
    color: #686868;
    text-align: center;
    margin: 0 auto;
    height: 70px;
    width: 100%;

    h1 {
        color: #686868;
        font-size: 30px;
        line-height: 36px;
    }
    h4 {
    	height: 22px;
        font-size: 18px;
        line-height: 22px;
    }

}

.start-btn-container {
    text-align: center;
    margin: 50px auto 149px auto;
    
    .start-install-btn {
        width: 263px;
        height: 49px;
        background: #0094BC;
        border: 1px solid #0094BC;
        color: white;
        p {
            font-size: 16px;
            margin: auto;
        }
    }
}



//Kora config pages
.kora-body-content {
    height: auto; //change this
}

.install-progress-bar {
    color: #3F3F3F;
    width: 90%;
    max-width: 1300px;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 75px;
    text-align: left;
    margin: 0 auto;

    .current-step {
        color: #0094BC;
    }
    ul {
        width: 100%;
        padding-left: 0px;
        
        li {
            display: inline-block;
        }
        .right-arrow {
            padding-left: 7px;
            padding-right: 7px;
        }
    }

}

.field-progress-bar {
    color: #3F3F3F;
    width: 90%;
    max-width: 1300px;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 40px;
    text-align: left;
    margin: 0 auto;
    
    .current-step {
        color: #0094BC;
    }
    
    ul {
        width: 100%;
        padding-left: 0px;
        li {
            display: inline-block;
        }
    }

}

.form-container {
    width: 100%;
    background-color: #F9F9F9;
    font-size: 16px;
    padding-bottom: 98px;
    
    .project{
        display: block;
    }
    .season{
        display: none;
    }
    .excavation{
        display: none;
    }
    .resource{
        display: none;
    }
    .subject{
        display: none;
    }
    .form-prompt{
        height: auto;
        padding-top: 45px;
        width: 100%;
        .form-prompt-wrapper {
            margin: 0 auto;
            color: #686868;
            text-align: left;
            max-width: 1300px;
            padding-left: 4.3%;

            .prompt1 {
                line-height: 28px;
            }
            .prompt2 {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    
    .form-wrapper{
        margin: 0 auto;
        padding-top: 70px;
        max-width: 1300px;
        
        .dot {
            height: 6px;
            width: 6px;
            background-color: #0094BC;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 2px;
            margin-right: 5px;
        }
        
        form {
            display: block;
            position: relative;
        }
        #arcs-name{
            margin-top: 70px;
        }
        .row {
            width: 100%;
            display: inline-flex;
            
            p{
                display: inline-block;
            }
            .input-left {
                width: 40%;
                margin: 0 auto;
                
            }
            .input-right {
                width: 40%;
                margin: 0 auto;
            }
            .input-full {
                width: 90%;
                margin: 0 auto;
                
                .create-project-dropdown{
                    border: 1px solid #D8D8D8;
                    display: block;
                    font-size: 12px;
                    height: 53px;
                    outline: none;
                    padding-left: 15px;
                    padding-right: 15px;
                    width: 100%;
                }
                .date-select{
                    display: block;
                    
                    select{
                        border: 1px solid #D8D8D8;
                        display: inline-block;
                        font-size: 12px;
                        height: 53px;
                        outline: none;
                        padding-left: 15px;
                        padding-right: 15px;
                        width: 33.42%;
                    }
                }
                .period-select{
                    display: block;
                    
                    .date-input{
                        display:inline-block;
                        width: 50%;
                    }
                    .period-project-dropdown{
                        border: 1px solid #D8D8D8;
                        display: inline-block;
                        font-size: 12px;
                        height: 53px;
                        outline: none;
                        padding-left: 15px;
                        padding-right: 15px;
                        width: 49.6%;
                    }
                }
            }
            input {
                width: 100%;
                background-color: #fff;
                border: 1px solid #D8D8D8;
            }
        }
        
        /*#kora-name {
            padding-top: 70px;
            padding-bottom: 61px;
        }*/
        
        .divider {
            padding-top: 49px;
            margin-top: 61px;
            width: 90%;
        }
        
        /*#ctn-create {
            display: none;
        }*/
        
        .bottom{
            width: 90%;
            margin: 0 auto;
            
            .required {
                width: 50%;
                height: auto;
                display: inline-block;

                p{
                    display: inline-block;
                }
            }
            .cont-btn-container {
                width: 49%;
                text-align: right;
                height: auto;
                display: inline-block;

                .cont-install-btn {
                    width: auto;
                    height: 49px;
                    background: #0094BC;
                    border: 1px solid #0094BC;
                    color: white;
                    p {
                        font-size: 16px;
                        margin: auto;
                    }
                }
            }
        }
        
    }
}
