# bootstrap
app/Config/bootstrap.php
installerInput.txt

# htaccess files
.htaccess
app/.htaccess
app/webroot/.htaccess

# Directories
/app/tmp
/app/webroot/img
/.idea
/kora
/kora-config

# Resource data files
app/webroot/Resource_Data_*
app/Config/database.php
