# bootstrap
app/Config/bootstrap.php

# htaccess files
.htaccess
app/.htaccess
app/webroot/.htaccess

# Directories
/app/tmp
/app/webroot/img
/.idea


# Resource data files
app/webroot/Resource_Data_*
app/Config/database.php
