// login.less
// ----------

#login {
  .arcs-form();
  margin-top: 0px;
  margin-bottom: 10px;
  input[type="text"], 
  input[type="password"] {
    width: 290px;
  }
  .login-link {
    .arcs-form-link();
  }
}

#login-header {
  width: 300px;
  margin-top: 10%;
  .centered();
  position: relative;
  left: 30px;
  img {
    margin-bottom: 15px;
  }
  h1 {
    font-family: 'Pontano Sans', sans-serif;
    display: inline;
    font-weight: 100;
    .text-shadow(#fff);
  }
}

#login-footer {
  width: 300px;
  .centered();
  .text-shadow(#fff);
  a {
    color: #444;
  }
  span {
    margin-left: 50px;
  }
}

// login modal styling

#loginModal {
    background: rgba(0, 0, 0, .25);
    
    .login-content {
        width: 60em;
        height: 30em;
        padding: 0;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, .25);
        
        .loginContainer {
            padding: 30px;
        }
        
        .loginSect {
            position: relative;
            float: left;
            width: 50%;
            height: 100%;
            background: #fff;
            color: @ArcsBlue;
            
            input[type="text"] {
                margin-top: 5.8%;
                padding: 1em 2em 1em 2em;
                width: 360px;
                height: 60px;
                background: #fff;
                color: @ArcsBlue;
                border: 2px;
                border-style: solid;
                border-color: @ArcsBlue;
                font-size: 100%;
            }
            
            input[type="password"] {
                margin-top: 5.8%;
                padding: 1em 2em 1em 2em;
                width: 360px;
                height: 60px;
                background: #fff;
                color: @ArcsBlue;
                border: 2px;
                border-style: solid;
                border-color: @ArcsBlue;
                font-size: 100%;
            }
            
            input::-webkit-input-placeholder {
               color: @ArcsBlue;
            }

            input:-moz-placeholder { /* Firefox 18- */
               color: @ArcsBlue;  
            }

            input::-moz-placeholder {  /* Firefox 19+ */
               color: @ArcsBlue;  
            }

            input:-ms-input-placeholder {  
               color: @ArcsBlue;  
            }

            p {
                margin-top: 5%;
            }

            .login-link {
                cursor: pointer;
            }
            
            .btn {
                position: absolute;
                bottom: 30px;
                left: 30px;
                width: 360px;
                height: 60px;
                background: @ArcsBlue;
                color: #fff;
                border: none;
                border-radius: 0;
                text-transform: uppercase;
                font-size: 120%;
                line-height: 50px;
            }
        }

        .registerSect {
            position: relative;
            float: left;
            width: 50%;
            height: 100%;
            background: @ArcsBlue;
            color: #fff;
            
            p {
                margin-top: 2.5%;
                line-height: 200%;
            }
            
            .btn {
                position: absolute;
                bottom: 30px;
                left: 30px;
                width: 360px;
                height: 60px;
                background: #fff;
                color: @ArcsBlue;
                border: none;
                border-radius: 0;
                text-transform: uppercase;
                font-size: 120%;
                line-height: 50px;
            }
        }
    }
}

// register modal styling

#registerModal {
    background: rgba(0, 0, 0, .25);
    
    .register-content {
        width: 60em;
        height: 30em;
        padding: 0;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, .25);
        
        .registerContainer {
            padding: 30px;
        }
        .registerContainer2 {
            padding: 30px;
        }
        
        .left {
            position: relative;
            float: left;
            width: 50%;
            height: 100%;
            background: @ArcsBlue;
            color: #fff;
            
            input[type="text"] {
                margin-top: 5.8%;
                padding: 1em 2em 1em 2em;
                width: 360px;
                height: 60px;
                background: @ArcsBlue;
                color: #fff;
                border: 2px;
                border-style: solid;
                border-color: #fff;
                font-size: 100%;
            }
            
            input::-webkit-input-placeholder {
               color: #fff;
            }

            input:-moz-placeholder { /* Firefox 18- */
               color: #fff;  
            }

            input::-moz-placeholder {  /* Firefox 19+ */
               color: #fff;  
            }

            input:-ms-input-placeholder {  
               color: #fff;  
            }

            p {
                margin-top: 2.5%;
                line-height: 200%;
            }

            .requiredfield {
                float: right;
                padding-top: 5px;
                font-size: 80%;
                color: rgba(255, 255, 255, .5);
            }

            .login-link {
                cursor: pointer;
            }
            
            .btn {
                position: absolute;
                bottom: 30px;
                left: 30px;
                width: 360px;
                height: 60px;
                background: @ArcsBlue;
                color: #fff;
                border: none;
                border-radius: 0;
                text-transform: uppercase;
                font-size: 120%;
                line-height: 50px;
            }
        }

        .right {
            position: relative;
            float: left;
            width: 50%;
            height: 100%;
            background: @ArcsBlue;
            color: #fff;
            
            p {
                margin-top: 2.5%;
                line-height: 200%;
            }
            
            .btn {
                position: absolute;
                bottom: 30px;
                left: 30px;
                width: 360px;
                height: 60px;
                background: #fff;
                color: @ArcsBlue;
                border: none;
                border-radius: 0;
                text-transform: uppercase;
                font-size: 120%;
                line-height: 50px;
            }
        }
    }
}

.exit {
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 30px;
    height: 16px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}