// profile.less
// ------------

#user-profile {
    width: 100%;
    margin: 0;
    padding: 0;
}

.score-bubble {
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: #CEEAEF;
    border: 3px solid #0094bc !important;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    color: #0094bc;
    font-size: 25px;
    margin-top: -15px;
    margin-left: -10px;
}

.tooltipster-custom {
    border-radius: 0px; 
    border: 2px solid #0094bc !important;
    background: #fff;
    color: #0094bc;
    text-align: center;
}
.tooltipster-custom .tooltipster-content {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    padding: 8px 10px;
}

span.bolded {
    font-weight: 600;
}

// controls the static text the follows the retrieved score values
span.description-text {
    margin-left: 1em;
    color: #1C95BA;
    text-transform: uppercase;
    line-height: 3.9;
}

// controls the color of the description list on the right, which describes scores
dl.score-description-list {
    color: #1C95BA;
    margin-left: 2em;
}

// controls the tables one sees in the tabs
table.user-tabs-table {
    width: 100%;
    height: 100%;
}

th.user-tabs-header {
    text-align: left;
    font-weight: 300;
    padding: 8px;
    text-transform: uppercase;
    font-size: 15px;
    color: #898989;
}

#user-info {
    width: 90%;
    margin: auto;
    
    dl {
        float:left;
        position: relative;
        top: -20px;
        margin-top: 16px;
        margin-right: 42px;
        
        dd {
            margin-bottom: 1em;
            font-size: 85%;
            
            #edit-profile {
                font-size: 120%;
                text-transform: uppercase;
                color: #1C95BA;
            }
            
            img {
	            width: 28px;
				height: 28px;
				vertical-align: middle;
				margin-right: 2em;
            }
        }
        
        a[href^="mailto"] { 
	        text-transform: none;
	    }
        
        a {
	        text-transform: uppercase;
        }
    }
    
    .overall-score {
        text-align: center;
        
        img {
            height: 164px;
			border-radius: 50%;
			margin-bottom: 1em;
        }
    }
    
    .profile-image {
	    float: left;
		margin-right: 4em;
		border-radius: 50%;
		border: 2px solid #ccc !important;
		height: 205px;
		padding: 0;
    }
    #edit-btn {
        display: inline;
        position: relative;
        bottom: 5px;
        left: 10px;
    }
    h2 {
           display: inline-block;
		   margin-top: 0;
		   margin-bottom: -2em;
		   text-shadow: none;
		   font-weight: 400;
    }
}

#user-actions {
    width: 100%;
    //margin: 0 -10px 0 -10px;
    padding: 0;
    
    .nav-tabs {
        border-bottom: 0;
    }
    
    .nav {
        margin: 0 0 20px 5em;
        
        .active {
            background: #F4F4F4;
			border-top: 1px solid #ccc !important;
			border-left: 1px solid #ccc !important;
			border-right: 1px solid #ccc !important;
			max-height: 39px;
            
            a {
               color: #777;
			   background: transparent;
			   border: 0;
            }
        }
        
        li {
            padding: 0 1.5em;
            border-radius: 0;
            border: 0;
            text-transform: uppercase;
            
            a {
                color: #555;
                border: 0;
            }
            a:hover, a:focus {
	            background:transparent;
	            border: 0;
	            color: black;
            }
        }
    }

    .tab-content {
        padding: 0 5em 0 0;
		background: #F4F4F4;
		margin-bottom: -1em;
		border-top: 1px solid #ccc !important;
        
        #uploads-tab, #annotations-tab, #flagged-tab, #discussion-tab, #collections-tab, #activity-tab, #achievements-tab {
            width: 90%;
            margin: auto;
            color: #555;
        }
        
        h3 {
	        color: #555;
        }

        .tab-pane {
            min-height: 869px;
            padding: 1em 0;
            
            tr {
	            color: #898989;
				height: 5em;
				line-height: 5em;
				vertical-align: middle;
            }
            
            tr:nth-child(n+2) {
				border-top: 1px solid rgba(204, 204, 204, 0.36) !important;
            }
            
            
            .label {
	            color: #808080;
            }
            
            p {
	            color: #808080;
            }
        }

        #activity-tab {

            h3.activity-date {
                text-align: right;
                padding-right: 20px;
            }

            .activity-feed {
                margin-left: 0;
                padding-left: 15px;
                border-left: solid 2px gray;
                list-style: none;

                li {
                    list-style: none;
                    margin: 3px 0;
                    padding: 3px 10px;
                }
            }
        }

        #uploads-tab i {
            max-width: 20px;
            max-height: 20px;
        }

        #annotations-tab {
            label.radio {
                display: inline-block;
                margin-right: 15px;
            }

            tr {
                &:hover {
                    text-decoration: none;
                    background-color: gray;
                }
            }
        }
    }
}

summary.collections-details-summary {
    height: 40px;
    content: "";
    border: #fff;
    line-height: 40px;
    font-weight: 200;
}

span.collection-title-header {
    font-size: 20px;
    padding: 30px;
}

details.collections-details {
    background: #fff;
    border: 1px solid #ccc;
    margin: 25px 0 0;
}

span.view-collection {
    float: right;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

/*summary::-webkit-details-marker {
  display: none
}*/

// collections.less
// ---------

.profile-collection-list-wrapper {

    .dropdown {
        position: relative;

        .dropdown-toggle {
            width: 12em;
            background: transparent;
            color: #808080;
            border: none;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: -5px;
            border-radius: 0;
            padding-left: 0;
        }

        .dropdown-open {
            z-index: 1;
            outline: none;
        }

        .dropdown-menu {
            width: 12em;
            border-radius: 0;
            background: #fff;
            border: 0;
        }

        .pointerDown {
            position: absolute;
            left: 6em;
            width: 8px;
            height: 8px;
            border: solid #808080;
            border-width: 2.5px 2.5px 0 0;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
            margin: 5px 0 0 0;
        }
        .pointerUp {
            display: inline;
            width: 8px;
            height: 8px;
            border: solid #808080;
            border-width: 2.5px 2.5px 0 0;
            -webkit-transform: rotate(315deg);
            -moz-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
            -o-transform: rotate(315deg);
            transform: rotate(315deg);
            margin: 8px 0 0 0;
        }
    }

    .unselectable;

    width: 90%;
    margin: 50px auto;

    .collection-list {

        details {
            min-height: 20px;
            margin: 25px 0 0;
            border: 1px solid #ccc;

            div {
                visibility: hidden;
                display: none;
            }
            // Focus state for keyboard and accessibility
            &:focus {
                outline: none;
            }

            // Summary and detail formatting when detail is closed
            summary {
                width: 100%;
                visibility: visible;
                display: inline;
                padding: 0px 0 0px 0px;
                font-size: @baseFontSize;
                line-height: normal;
                color: #333;
                background: #fff;
                cursor: pointer;

                // Focus state for keyboard and accessibility
                &:focus {
                    outline: none;
                }

                h5, .h5 {
                    text-shadow: none;
                }
                h3, .h3 {
                    text-shadow: none;
                }
                h3 {
                    text-shadow: none;
                }

                // Transitions
                .transition(.1s linear all);

                // Button Sizes
                &.large {
                    padding: 15px 25px;
                    font-size: @baseFontSize + 4px;
                    text-transform: uppercase;
                    line-height: normal;
                    display: block;
                }

                &.small {
                    padding: 7px 9px 7px;
                    font-size: @baseFontSize - 2px;
                }
                .btn-view-all-collection,
                .btn-view-collection {
                    visibility: visible;
                    display: inline-block;

                }
                .btn-view-collection{
                    padding: 10px 20px 15px 0px;
                    height: 51px;
                }
                .btn-view-all-collection {
                    padding-top: 10px;
                    width: 140px;
                    height: 51px;
                    float: right;
                    h3 {
                        color: #4899CF !important;
                        padding: 0 0 0 0;
                        margin-top: 10px;
                        margin-right: 1em;
                        font-size: 13px;
                    }
                }
            }

            &.disabled {
                cursor: default;
                background-image: none;
                .opacity(65);
                .box-shadow(none);
            }

            &[disabled] {
                // disabled pseudo cant be included with .disabled
                // def because IE8 and below will drop it
                cursor: default;
                background-image: none;
                .opacity(65);
                .box-shadow(none);
            }

            // Sizes
            &.large {
                padding: 10px 14px 6px;
                font-size: @baseFontSize + 4px;
                text-transform: uppercase;
                line-height: normal;
            }
            &.small {
                padding: 7px 9px 7px;
                font-size: @baseFontSize - 2px;
            }

            &[open] {
                min-height: 20px;
                width: 100%;
                padding: 0;
                margin-bottom: 20px;
                background: #fff;

                blockquote {
                    border-color: #ddd;
                    border-color: rgba(0,0,0,.15);
                }

                .results {
                    visibility: visible;
                    display: block;
                }

                ul.resource-thumbs {
                    display: block;
                    padding-left: 20px;
                    padding-bottom: 10px;
                    li.resource-thumb {
                        display: inline-block;
                        a img {
                            height: 100px;
                        }
                    }
                }

                // Summary and detail formatting when detail is open
                summary {
                    padding: 10px 0 15px 20px;
                    font-size: @baseFontSize;
                    line-height: normal;
                    color: #333;
                    background: #fff;
                    border: none;
                    border-radius:0;
                    border-bottom: 1px solid #bbb;
                    cursor: pointer;
                    box-shadow: none;

                    // Focus state for keyboard and accessibility
                    &:focus {
                        outline: none;
                    }
                    .transition(.1s linear all);
                }
            }

            .results {
                min-height: 55px;
            }

            ul.resource-thumbs {
                padding: 10px;
            }
        }

        .actions {
            float: right;
            position: relative;
            top: 10px;
            padding-right: 10px;
            a {
                margin-left: 5px;
            }

            // remove if button is needed
            .btn-group {
                visibility: hidden;
            }
        }

        h3,
        h4,
        h5 {
            display: inline;
            padding-left: 30px;
            text-shadow: none;
        }

        h4,
        h5 {
            color: #868686;
            font-size: 14px;
            font-weight: 400;
        }
    }

    // Styling for details marker
    summary::-webkit-details-marker {
        display: none;
    }
    summary:after {
        float: left;
        width: 8px;
        height: 8px;
        border: solid rgb(0, 147, 190);
        border-width: 2.5px 2.5px 0 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: 12px 0 0 5px;
        content: "";
    }
    details[open] summary:after {
        float: left;
        width: 8px;
        height: 8px;
        border: solid rgb(0, 147, 190);
        border-width: 2.5px 2.5px 0 0;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        margin: 10px 0 0 5px;
        content: "";
    }
}