// profile.less
// ------------

#user-profile {
    width: 100%;
    margin: 0;
    padding: 0;
}



span.bolded {
    font-weight: 600;
}

// controls the static text the follows the retrieved score values
span.description-text {
    margin-left: 1em;
    color: #1C95BA;
    text-transform: uppercase;
    line-height: 3.9;
}

// controls the color of the description list on the right, which describes scores
dl.score-description-list {
    color: #1C95BA;
    margin-left: 2em;
}

#user-info {
    width: 90%;
    margin: auto;
    
    dl {
        float:left;
        position: relative;
        top: -20px;
        margin-top: 16px;
        margin-right: 42px;
        
        dd {
            margin-bottom: 1em;
            font-size: 85%;
            
            #edit-profile {
                font-size: 120%;
                text-transform: uppercase;
                color: #1C95BA;
            }
            
            img {
	            width: 28px;
				height: 28px;
				vertical-align: middle;
				margin-right: 2em;
            }
        }
        
        a[href^="mailto"] { 
	        text-transform: none;
	    }
        
        a {
	        text-transform: uppercase;
        }
    }
    
    .overall-score {
        text-align: center;
        
        img {
            height: 164px;
			border-radius: 50%;
			margin-bottom: 1em;
        }
    }
    
    .profile-image {
	    float: left;
		margin-right: 4em;
		border-radius: 50%;
		border: 2px solid #ccc !important;
		height: 205px;
		padding: 0;
    }
    #edit-btn {
        display: inline;
        position: relative;
        bottom: 5px;
        left: 10px;
    }
    h2 {
           display: inline-block;
		   margin-top: 0;
		   margin-bottom: -2em;
		   text-shadow: none;
		   font-weight: 400;
    }
}

#user-actions {
    width: 105%;
    margin: 0 -10px 0 -10px;
    padding: 0;
    
    .nav-tabs {
        border-bottom: 0;
    }
    
    .nav {
        margin: 0 0 20px 5em;
        
        .active {
            background: #F4F4F4;
			border-top: 1px solid #ccc !important;
			border-left: 1px solid #ccc !important;
			border-right: 1px solid #ccc !important;
			max-height: 39px;
            
            a {
               color: #777;
			   background: transparent;
			   border: 0;
            }
        }
        
        li {
            padding: 0 1.5em;
            border-radius: 0;
            border: 0;
            text-transform: uppercase;
            
            a {
                color: #555;
                border: 0;
            }
            a:hover, a:focus {
	            background:transparent;
	            border: 0;
	            color: black;
            }
        }
    }

    .tab-content {
        padding: 0 1em 0 0;
		background: #F4F4F4;
		margin-bottom: -1em;
		border-top: 1px solid #ccc !important;
        
        #uploads-tab, #annotations-tab, #flagged-tab, #discussion-tab, #collections-tab {
            width: 90%;
            margin: auto;
            color: #555;
        }
        
        h3 {
	        color: #555;
        }

        .tab-pane {
            min-height: 869px;
            overflow: auto;
            padding: 1em 0;
            
            tr:nth-of-type(even) {
	            background: rgba(255, 255, 255, .85);
	            color: #808080;
            }
            
            .label {
	            color: #808080;
            }
            
            p {
	            color: #808080;
            }
        }

        #activity-tab {

            h3.activity-date {
                text-align: right;
                padding-right: 20px;
            }

            .activity-feed {
                margin-left: 0;
                padding-left: 15px;
                border-left: solid 2px gray;
                list-style: none;

                li {
                    list-style: none;
                    margin: 3px 0;
                    padding: 3px 10px;
                }
            }
        }

        #uploads-tab i {
            max-width: 20px;
            max-height: 20px;
        }

        #annotations-tab {
            label.radio {
                display: inline-block;
                margin-right: 15px;
            }

            tr {
                &:hover {
                    text-decoration: none;
                    background-color: gray;
                }
            }
        }
    }
}
