// profile.less
// ------------

#user-profile {
    width: 100%;
    margin: 0;
    padding: 0;
}

.score-bubble {
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: #CEEAEF;
    border: 3px solid #0094bc !important;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    color: #0094bc;
    font-size: 25px;
    margin-top: -15px;
    margin-left: -10px;
}

.tooltipster-custom {
    border-radius: 0px; 
    border: 2px solid #0094bc !important;
    background: #fff;
    color: #0094bc;
    text-align: center;
}
.tooltipster-custom .tooltipster-content {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    padding: 8px 10px;
}

span.bolded {
    font-weight: 600;
}

// controls the static text the follows the retrieved score values
span.description-text {
    margin-left: 1em;
    color: #1C95BA;
    text-transform: uppercase;
    line-height: 3.9;
}

// controls the color of the description list on the right, which describes scores
dl.score-description-list {
    color: #1C95BA;
    margin-left: 2em;
}

// controls the tables one sees in the tabs
table.user-tabs-table {
    width: 100%;
    height: 100%;
}

th.user-tabs-header {
    text-align: left;
    font-weight: 300;
    padding: 8px;
    text-transform: uppercase;
    font-size: 15px;
    color: #898989;
}

#user-info {
    width: 90%;
    margin: auto;
    
    dl {
        float:left;
        position: relative;
        top: -20px;
        margin-top: 16px;
        margin-right: 42px;
        
        dd {
            margin-bottom: 1em;
            font-size: 85%;
            
            #edit-profile {
                font-size: 120%;
                text-transform: uppercase;
                color: #1C95BA;
            }
            
            img {
	            width: 28px;
				height: 28px;
				vertical-align: middle;
				margin-right: 2em;
            }
        }
        
        a[href^="mailto"] { 
	        text-transform: none;
	    }
        
        a {
	        text-transform: uppercase;
        }
    }
    
    .overall-score {
        text-align: center;
        
        img {
            height: 164px;
			border-radius: 50%;
			margin-bottom: 1em;
        }
    }
    
    .profile-image {
	    float: left;
		margin-right: 4em;
		border-radius: 50%;
		border: 2px solid #ccc !important;
		height: 205px;
		padding: 0;
    }
    #edit-btn {
        display: inline;
        position: relative;
        bottom: 5px;
        left: 10px;
    }
    h2 {
           display: inline-block;
		   margin-top: 0;
		   margin-bottom: -2em;
		   text-shadow: none;
		   font-weight: 400;
    }
}

#user-actions {
    width: 100%;
    //margin: 0 -10px 0 -10px;
    padding: 0;
    
    .nav-tabs {
        border-bottom: 0;
    }
    
    .nav {
        margin: 0 0 20px 5em;
        
        .active {
            background: #F4F4F4;
			border-top: 1px solid #ccc !important;
			border-left: 1px solid #ccc !important;
			border-right: 1px solid #ccc !important;
			max-height: 39px;
            border-bottom: 1px solid #F4F4F4;
            
            a {
               color: #777;
			   background: transparent;
			   border: 0;
            }
        }
        
        li {
            padding: 0 1.5em;
            border-radius: 0;
            border: 0;
            text-transform: uppercase;
            font-size: 12px;
            
            a {
                color: #555;
                border: 0;
            }
            a:hover, a:focus {
	            background:transparent;
	            border: 0;
	            color: black;
            }
        }
    }

    .tab-content {
        //padding: 0 5em 0 0;
		background: #F4F4F4;
		margin-bottom: -1em;
		border-top: 1px solid #ccc !important;
        
        #uploads-tab, #annotations-tab, #flagged-tab, #discussion-tab, #collections-tab, #activity-tab, #achievements-tab, #transcriptions-tab {
            width: 90%;
            margin: auto;
            color: #555;
        }
        
        h3 {
	        color: #555;
        }

        .tab-pane {
            min-height: 869px;
            padding: 1em 0;
            
            tr {
	            color: #898989;
				height: 5em;
				line-height: 5em;
				vertical-align: middle;
            }
            
            tr:nth-child(n+2) {
				border-top: 1px solid rgba(204, 204, 204, 0.36) !important;
            }
            
            
            .label {
	            color: #808080;
            }
            
            p {
	            color: #808080;
            }
        }

        #activity-tab {

            h3.activity-date {
                text-align: right;
                padding-right: 20px;
            }

            .activity-feed {
                margin-left: 0;
                padding-left: 15px;
                border-left: solid 2px gray;
                list-style: none;

                li {
                    list-style: none;
                    margin: 3px 0;
                    padding: 3px 10px;
                }
            }

            .cont {
                border-bottom: 1px solid #ccc;
                min-height: 90px;

                p {
                    position: relative;
                    top: 10px;
                    height: 70px;
                }

                span {
                    position: relative;
                    top: 30px;
                    display: inline-block;
                    width: 22%;
                }

                img {
                    height: 70px;
                    width: 84px;
                    float: right;
                    margin-right: 20px;
                    object-fit: cover;
                }

                .text {
                    left: 12%;
                }

                .name {
                    left: 22%;
                }

                //icons for different types: annotation/transcription, login, flag, edit
                .log {
                    height: 18px;
                    width: 16px;
                    background-image: url(../img/key.svg);
                    background-size: contain;
                    margin-right: 2px;
                }
                .flag {
                    height: 20px;
                    width: 13px;
                    background-image: url(../img/FlagTooltip.svg);
                    background-size: contain;
                    margin-right: 5px;
                }
                .transcription, .annotation {
                    height: 18px;
                    width: 18px;
                    background-image: url(../img/AnnotationsOff.svg);
                    background-size: contain;
                }
                .edit {
                    height: 18px;
                    width: 18px;
                    background-image: url(../img/pencil.svg);
                    background-size: contain;
                }
            }
        }

        #uploads-tab i {
            max-width: 20px;
            max-height: 20px;
        }

        #annotations-tab {
            label.radio {
                display: inline-block;
                margin-right: 15px;
            }

            tr {
                &:hover {
                    text-decoration: none;
                    background-color: gray;
                }
            }
        }

        #annotations-tab, #transcriptions-tab, #discussion-tab {
            .img {
                height: 100px;
                width: 125px;
                display: inline;
                float: left;
                margin-left: -145px;

                img {
                    max-height: 100%;
                    max-width: 100%;
                    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .3);
                    //object-fit: cover; set height and width to that of div to make this work?
                }

                a {
                    margin-left: 0;
                }
            }

            .cont {
                border-bottom: 1px solid #ccc;
                padding-bottom: 40px;
                padding-left: 145px;
                margin-top: 30px;
                min-height: 123px;
            }

            p {
                font-size: 16px;
                //margin-left: 20px;

                .name {
                    color: grey;
                }
            }

            .type {
                font-size: 12px;
                margin-left: 30px;
            }

            .date {
                font-size: 12px;
                float: right;
                //margin-right: 10px;
                margin-top: 4px;
            }

            .annotationType {
                font-weight: bold;
                font-size: 14px;
            }

            a {
                color: #1C95BA;
                //margin-left: 20px;
            }

            .transcript {
                font-size: 14px;
                padding-top: 10px;
            }
        }

        .container {
            text-align: center;
        }

        #paginate {
            margin-top: 10px;
            display: inline-block;
        }
    }
}

summary.collections-details-summary {
    height: 40px;
    content: "";
    border: #fff;
    line-height: 40px;
    font-weight: 200;
}

span.collection-title-header {
    font-size: 20px;
    padding: 30px;
}

details.collections-details {
    background: #fff;
    border: 1px solid #ccc;
    margin: 25px 0 0;
}

span.view-collection {
    float: right;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

/*summary::-webkit-details-marker {
  display: none
}*/

// collections.less
// ---------

.profile-collection-list-wrapper {

    .dropdown {
        position: relative;

        .dropdown-toggle {
            width: 12em;
            background: transparent;
            color: #808080;
            border: none;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: -5px;
            border-radius: 0;
            padding-left: 0;
        }

        .dropdown-open {
            z-index: 1;
            outline: none;
        }

        .dropdown-menu {
            width: 12em;
            border-radius: 0;
            background: #fff;
            border: 0;
        }

        .pointerDown {
            position: absolute;
            left: 6em;
            width: 8px;
            height: 8px;
            border: solid #808080;
            border-width: 2.5px 2.5px 0 0;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
            margin: 5px 0 0 0;
        }
        .pointerUp {
            display: inline;
            width: 8px;
            height: 8px;
            border: solid #808080;
            border-width: 2.5px 2.5px 0 0;
            -webkit-transform: rotate(315deg);
            -moz-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
            -o-transform: rotate(315deg);
            transform: rotate(315deg);
            margin: 8px 0 0 0;
        }
    }

    .unselectable;

    width: 90%;
    margin: 50px auto;

    .collection-list {

        details {
            min-height: 20px;
            margin: 25px 0 0;
            border: 1px solid #ccc;

            .editRadio {
                display:inline-block !important;
                input {
                    margin-left:1.8em;
                }
            }

            div {
                visibility: hidden;
                display: none;
            }
            // Focus state for keyboard and accessibility
            &:focus {
                outline: none;
            }

            // Summary and detail formatting when detail is closed
            summary {
                width: 100%;
                visibility: visible;
                display: inline;
                padding: 10px 0 15px 20px;
                font-size: @baseFontSize;
                line-height: normal;
                color: #333;
                background: #fff;
                cursor: pointer;

                // Focus state for keyboard and accessibility
                &:focus {
                    outline: none;
                }

                h5, .h5 {
                    text-shadow: none;
                }
                h3, .h3 {
                    text-shadow: none;
                }
                h3 {
                    text-shadow: none;
                }

                // Transitions
                .transition(.1s linear all);

                // Button Sizes
                &.large {
                    padding: 15px 25px;
                    font-size: @baseFontSize + 4px;
                    text-transform: uppercase;
                    line-height: normal;
                    display: block;
                }

                &.small {
                    padding: 7px 9px 7px;
                    font-size: @baseFontSize - 2px;
                }
            }

            /*fieldset {
                width: 90%;
                height: 2.8em;
                border: solid black 1px;
                overflow: visible;
                padding: 1% 0;
                margin-left: auto;
                margin-right: auto;
                margin-top: .5em;
            }*/

            &.disabled {
                cursor: default;
                background-image: none;
                .opacity(65);
                .box-shadow(none);
            }

            &[disabled] {
                // disabled pseudo cant be included with .disabled
                // def because IE8 and below will drop it
                cursor: default;
                background-image: none;
                .opacity(65);
                .box-shadow(none);
            }

            // Sizes
            &.large {
                padding: 10px 14px 6px;
                font-size: @baseFontSize + 4px;
                text-transform: uppercase;
                line-height: normal;
            }
            &.small {
                padding: 7px 9px 7px;
                font-size: @baseFontSize - 2px;
            }

            &[open] {
                min-height: 20px;
                width: 100%;
                padding: 0;
                margin-bottom: 20px;
                background: #fff;

                blockquote {
                    border-color: #ddd;
                    border-color: rgba(0,0,0,.15);
                }

                div {
                    visibility: visible;
                    display: block;
                }

                ul.resource-thumbs {
                    display: block;
                    padding-left: 20px;
                    padding-bottom: 10px;
                    li.resource-thumb {
                        display: inline-block;
                        a img {
                            height: 100px;
                        }
                    }
                }

                // Summary and detail formatting when detail is open
                summary {
                    padding: 10px 0 15px 20px;
                    font-size: @baseFontSize;
                    line-height: normal;
                    color: #333;
                    background: #fff;
                    border: none;
                    border-radius:0;
                    border-bottom: 1px solid #bbb;
                    cursor: pointer;
                    box-shadow: none;

                    // Focus state for keyboard and accessibility
                    &:focus {
                        outline: none;
                    }
                    .transition(.1s linear all);
                }
            }

            .results {
                min-height: 55px;
            }

            ul.resource-thumbs {
                padding: 10px;
            }
        }

        .actions {
            float: right;
            position: relative;
            top: 10px;
            padding-right: 10px;
            a {
                margin-left: 5px;
            }

            // remove if button is needed
            .btn-group {
                visibility: hidden;
            }
        }

        h3,
        h4,
        h5 {
            display: inline;
            padding-left: 30px;
            text-shadow: none;
        }

        h4,
        h5 {
            color: #868686;
            font-size: 14px;
            font-weight: 400;
        }
    }

    // Styling for details marker
    summary::-webkit-details-marker {
        display: none;
    }
    summary:after {
        float: left;
        width: 8px;
        height: 8px;
        border: solid rgb(0, 147, 190);
        border-width: 2.5px 2.5px 0 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: 12px 0 0 5px;
        content: "";
    }
    details[open] summary:after {
        float: left;
        width: 8px;
        height: 8px;
        border: solid rgb(0, 147, 190);
        border-width: 2.5px 2.5px 0 0;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        margin: 10px 0 0 5px;
        content: "";
    }
}



.uploadForm {
    /*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.4.2
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2015 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

    /* @group Base */
    .chosen-container {
        width:100% !important;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        zoom: 1;
        *display: inline;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        margin-top: .5em !important;
    }
    .chosen-choices{
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        border: solid grey 1px;
    }
    .chosen-drop {
        width: 90% !important;
        left: 0;
        right: 0;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .chosen-container * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .chosen-container .chosen-drop {
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 1010;
        width: 100%;
        border: 1px solid #aaa;
        border-top: 0;
        background: #fff;
        /*-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);*/
    }
    .chosen-container.chosen-with-drop .chosen-drop {
        left: 0;
    }
    .chosen-container a {
        cursor: pointer;
    }
    .chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
        margin-right: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: normal;
        color: #999999;
    }
    .chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
        content: ":";
        padding-left: 2px;
        vertical-align: top;
    }

    /* @end */
    /* @group Single Chosen */
    .chosen-container-single .chosen-single {
        position: relative;
        display: block;
        overflow: hidden;
        padding: 13px 0 0 13px;
        height: 49px;
        border: 1px solid #adc8de;
        /*border-radius: 5px;*/
        background-color: #f5fafc;
        /*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
        background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
        background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
        background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
        background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
        background-clip: padding-box;
        box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);*/
        color: #444;
        text-decoration: none;
        white-space: nowrap;
        line-height: 24px;
        outline: none;
    }
    .chosen-container-single .chosen-default {
        color: #417CBA;
    }
    .chosen-container-single .chosen-single span {
        display: block;
        overflow: hidden;
        margin-right: 26px;
        color: #417cba;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .chosen-container-single .chosen-single-with-deselect span {
        margin-right: 38px;
    }
    .chosen-container-single .chosen-single abbr {
        position: absolute;
        top: 6px;
        right: 26px;
        display: block;
        width: 12px;
        height: 12px;
        background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
        font-size: 1px;
    }
    .chosen-container-single .chosen-single abbr:hover {
        background-position: -42px -10px;
    }
    .chosen-container-single.chosen-disabled .chosen-single abbr:hover {
        background-position: -42px -10px;
    }
    .chosen-container-single .chosen-single div {
        position: absolute;
        top: 12px;
        right: 0;
        display: block;
        width: 18px;
        height: 100%;
    }
    .chosen-container-single .chosen-single div b {
        display: block;
        width: 100%;
        height: 100%;
        background: url('../images/chosen-sprite.png') no-repeat 0 2px;
    }
    .chosen-container-single .chosen-search {
        position: relative;
        z-index: 1010;
        margin: 0;
        padding: 3px 4px;
        white-space: nowrap;
    }
    .chosen-container-single .chosen-search input[type="text"] {
        margin: 1px 0;
        padding: 4px 20px 4px 5px;
        width: 100%;
        height: auto;
        outline: 0;
        color: #417CBA;
        border: 1px solid #adc8de;
        background: white url('../images/chosen-sprite.png') no-repeat 100% -20px;
        font-size: 1em;
        line-height: normal;
        border-radius: 0;
        text-transform: none;
    }
    .chosen-container-single .chosen-drop {
        margin-top: -1px;
        border-radius: 0 0 4px 4px;
        background-clip: padding-box;
    }
    .chosen-container-single.chosen-container-single-nosearch .chosen-search {
        position: absolute;
        left: -9999px;
    }

    /* @end */
    /* @group Results */
    .chosen-container .chosen-results {
        color: #417cba;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 4px 4px 0;
        padding: 0 0 0 4px;
        max-height: 240px;
        -webkit-overflow-scrolling: touch;
    }
    .chosen-container .chosen-results li {
        display: none;
        margin: 0;
        padding: 15px 6px;
        list-style: none;
        line-height: 15px;
        opacity: 0.4;
        word-wrap: break-word;
        -webkit-touch-callout: none;
    }
    .chosen-container .chosen-results li:hover {
        opacity: 1;
    }
    .chosen-container .chosen-results li.active-result {
        display: list-item;
        cursor: pointer;
    }
    .chosen-container .chosen-results li.disabled-result {
        display: list-item;
        color: #ccc;
        cursor: default;
    }
    .chosen-container .chosen-results li.result-selected {
        opacity: 1;
    }
    .chosen-container .chosen-results li.highlighted {
        /*background-color: #3875d7;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
        background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
        background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
        background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
        background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);*/
        color: #417cba;
        opacity: 1;
    }
    .chosen-container .chosen-results li.no-results {
        color: #417cba;
        opacity: 1;
        display: list-item;
        background-color: #f5fafc;
    }
    .chosen-container .chosen-results li.group-result {
        display: list-item;
        font-weight: bold;
        cursor: default;
    }
    .chosen-container .chosen-results li.group-option {
        padding-left: 15px;
    }
    .chosen-container .chosen-results li em {
        text-decoration: underline;
    }

    /* @end */
    /* @group Multi Chosen */
    .chosen-container-multi .chosen-choices {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0 5px;
        width: 100%;
        height: auto !important;
        /*border: 1px solid #aaa;
        background-color: #fff;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
        background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
        background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
        background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
        background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);*/
        cursor: text;
    }
    .chosen-container-multi .chosen-choices li {
        float: left;
        list-style: none;
    }
    .chosen-container-multi .chosen-choices li.search-field {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }
    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        margin: 1px 0;
        padding: 0;
        height: 25px;
        outline: 0;
        border: 0 !important;
        background: transparent !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #999;
        font-size: 100%;
        line-height: normal;
        border-radius: 0;
    }
    .chosen-container-multi .chosen-choices li.search-choice {
        position: relative;
        margin: 3px 5px 3px 0;
        padding: 3px 20px 3px 5px;
        border: 1px solid #aaa;
        max-width: 100%;
        border-radius: 3px;
        background-color: #eeeeee;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
        background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
        background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
        background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
        background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
        background-size: 100% 19px;
        background-repeat: repeat-x;
        background-clip: padding-box;
        -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
        color: #333;
        line-height: 13px;
        cursor: default;
    }
    .chosen-container-multi .chosen-choices li.search-choice span {
        word-wrap: break-word;
    }
    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        position: absolute;
        top: 4px;
        right: 3px;
        display: block;
        width: 12px;
        height: 12px;
        background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
        font-size: 1px;
    }
    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
        background-position: -42px -10px;
    }
    .chosen-container-multi .chosen-choices li.search-choice-disabled {
        padding-right: 5px;
        border: 1px solid #ccc;
        background-color: #e4e4e4;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
        background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
        background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
        background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
        background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
        color: #666;
    }
    .chosen-container-multi .chosen-choices li.search-choice-focus {
        background: #d4d4d4;
    }
    .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
        background-position: -42px -10px;
    }
    .chosen-container-multi .chosen-results {
        margin: 0;
        padding: 0;
    }
    .chosen-container-multi .chosen-drop .result-selected {
        display: list-item;
        color: #417cba;
        cursor: default;
    }

    /* @end */
    /* @group Active  */
    .chosen-container-active .chosen-single {
        border: 1px solid #5897fb;
        /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
    }
    .chosen-container-active.chosen-with-drop .chosen-single {
        /*border: 1px solid #aaa;
        -moz-border-radius-bottomright: 0;
        border-bottom-right-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
        background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
        background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
        background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
        background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
        box-shadow: 0 1px 0 #fff inset;*/
    }
    .chosen-container-active.chosen-with-drop .chosen-single div {
        border-left: none;
        background: transparent;
    }
    .chosen-container-active.chosen-with-drop .chosen-single div b {
        background-position: -16px 2px;
    }
    .chosen-container-active .chosen-choices {
        /*border: 1px solid #5897fb;*/
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .chosen-container-active .chosen-choices li.search-field input[type="text"] {
        color: #417cba !important;
    }

    /* @end */
    /* @group Disabled Support */
    .chosen-disabled {
        opacity: 0.5 !important;
        cursor: default;
    }
    .chosen-disabled .chosen-single {
        cursor: default;
    }
    .chosen-disabled .chosen-choices .search-choice .search-choice-close {
        cursor: default;
    }

    /* @end */
    /* @group Right to Left */
    .chosen-rtl {
        text-align: right;
    }
    .chosen-rtl .chosen-single {
        overflow: visible;
        padding: 0 8px 0 0;
    }
    .chosen-rtl .chosen-single span {
        margin-right: 0;
        margin-left: 26px;
        direction: rtl;
    }
    .chosen-rtl .chosen-single-with-deselect span {
        margin-left: 38px;
    }
    .chosen-rtl .chosen-single div {
        right: auto;
        left: 3px;
    }
    .chosen-rtl .chosen-single abbr {
        right: auto;
        left: 26px;
    }
    .chosen-rtl .chosen-choices li {
        float: right;
    }
    .chosen-rtl .chosen-choices li.search-field input[type="text"] {
        direction: rtl;
    }
    .chosen-rtl .chosen-choices li.search-choice {
        margin: 3px 5px 3px 0;
        padding: 3px 5px 3px 19px;
    }
    .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
        right: auto;
        left: 4px;
    }
    .chosen-rtl.chosen-container-single-nosearch .chosen-search,
    .chosen-rtl .chosen-drop {
        left: 9999px;
    }
    .chosen-rtl.chosen-container-single .chosen-results {
        margin: 0 0 4px 4px;
        padding: 0 4px 0 0;
    }
    .chosen-rtl .chosen-results li.group-option {
        padding-right: 15px;
        padding-left: 0;
    }
    .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
        border-right: none;
    }
    .chosen-rtl .chosen-search input[type="text"] {
        padding: 4px 5px 4px 20px;
        background: white url('../images/chosen-sprite.png') no-repeat -30px -20px;
        direction: rtl;
    }
    .chosen-rtl.chosen-container-single .chosen-single div b {
        background-position: 6px 2px;
    }
    .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
        background-position: -12px 2px;
    }

    /* @end */
    /* @group Retina compatibility */
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
        .chosen-rtl .chosen-search input[type="text"],
        .chosen-container-single .chosen-single abbr,
        .chosen-container-single .chosen-single div b,
        .chosen-container-single .chosen-search input[type="text"],
        .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
        .chosen-container .chosen-results-scroll-down span,
        .chosen-container .chosen-results-scroll-up span {
            background: url('../images/chosen-sprite2x.png') no-repeat 52px 37px !important;
        }
    }
    /* @end */

}
