<IfModule mod_rewrite.c>
       RewriteEngine on
       RewriteBase     /~noah.girard/gitRepos/arcs/app
       RewriteRule    ^$    webroot/    [L]
       RewriteRule    (.*) webroot/$1    [L]

   </IfModule>
