// results.less
// ------------

@ArcsBlue: rgb(0, 147, 190);

.pointerDown {
	width: 8px;
	height: 8px;
//	border: solid #808080;
	border-width: 2.5px 2.5px 0 0;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
//	margin: 5px 0 0 30px;
//	margin-left: 10px;
}

.pointerUp {
	width: 8px;
	height: 8px;
//	border: solid #808080;
//	border-width: 2.5px 2.5px 0 0;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
//	margin: 5px 0 0 30px;
//	margin-left: 10px;
}
.pointerSearch{
	margin: 2px 0 0 30px;
	margin-left: 10px;
	border: solid grey;
	border-width: 1.5px 1.5px 0 0;
    transform-origin: center;
}

.open .pointerSearch {
    position: relative;
    top: 4px;
    transform: rotate(-45deg);
}

.SearchBar {
    background: #f4f4f4;
    height: 60px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

button#sites-btn {
    margin-left: -10px;
}

button#options-btn {
    display: none;
    margin-right: -10px;
}

#search-actions #items-per-pages-buttons .dropdown-menu{
    top: -85px;
}

div#search-results-wrapper {
    float: left;
    width: 100%;
    background: #f9f9f9;
    visibility: hidden;
		display: none;
    position:relative;
    height: auto;

    div#search-results {
        width: 90%;
        margin: auto;
        color: #444;
        table {
            border-collapse: separate;
        }
    }

    div#search-actions {
			width: 90%;
			margin: auto;

        .btn {
          background: transparent;
          border: 0;
          font-size: 12px;
          outline: none;
          box-shadow: none;
          text-transform: uppercase;
          height: 60px;
        }

        .notactive {
            color: rgba(68, 68, 68, .25);
        }

        .active {
            z-index: 0;
            color: @ArcsBlue !important;
            box-shadow: none;
        }

        .icon-grid {
            width: 17px;
            height: 16px;
        }

        .icon-grid:before {
            content:''; height:19px; width:19px; background:#333; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; display:block; position:absolute; top:0; left:0px; box-shadow:21px 0 0 #333, 0 21px 0 #333, 21px 21px 0 #333;-webkit-box-shadow:21px 0 0 #333, 0 21px 0 #333, 21px 21px 0 #333;-moz-box-shadow:21px 0 0 #333, 0 21px 0 #333, 21px 21px 0 #333;
        }

        .actions-right {
            float: right;
            position: relative;
        }

        .actions-left {
            float: left;
            position: relative;
        }

        #open-buttons {
            right: 18px;
        }

        #sort-buttons {
            z-index: 1;

			#sort-btn {
                span#sort-by {
                    font-size: 95%;
                    font-weight: bold;
                }
            }

			.pointerDown {
				width: 8px;
				height: 8px;
//				border: solid #808080;
				border-width: 2.5px 2.5px 0 0;
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				transform: rotate(135deg);
//				margin: 5px 0 0 30px;
//				margin-left: 10px;
			}

			.pointerUp {
				width: 8px;
				height: 8px;
//				border: solid #808080;
				border-width: 2.5px 2.5px 0 0;
				-webkit-transform: rotate(315deg);
				-moz-transform: rotate(315deg);
				-ms-transform: rotate(315deg);
				-o-transform: rotate(315deg);
				transform: rotate(315deg);
//				margin: 5px 0 0 30px;
//				margin-left: 10px;
			}

			.dropdown-menu {
				z-index: 0;
				border: 0;
				border-radius: 0;
				background: #cecece;
				top: -14%;
				padding-top: 5em;
				box-shadow: none !important;

			}

        }


		ul.dropdown-menu {
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			border-radius: 0 !important;
			width: auto !important;
// 			min-width: 0;
			left: -2px;
			max-height: 400px;
			overflow: auto;
		}

        ul.dropdown-menu li a {
            cursor: pointer;
            display: block;
			padding: 3px 20px;
			clear: both;
			line-height: 1.42857143;
			color: #333333;
			white-space: nowrap;
			text-transform: uppercase;
			font-size: 12px;
			padding: 5px;
        }
    }

    .toolbar-fixed {
        border-bottom: 1px solid #eee;
		color: #888;
        top: 0px;
        width: 100%;
		height: 35px;

		a#select-all,
		a#deselect-all {
			text-transform: uppercase;
			text-decoration: none;
			font-size: 12px;
			height: 35px;
			padding: 10px;
			float: left;
			color: #888;
		}

		a#selected-all {
			text-transform: uppercase;
			text-decoration: none;
			font-size: 12px;
			height: 35px;
			padding: 10px;
			float: right;
			color: #C1C1C1;
		}

		a:hover {
			cursor: pointer;
			color: @ArcsBlue !important;
			text-decoration: none !important;
		}

		img.collectionIcon {
			float: right;
			padding: 0 5px;
			margin-top: -2.5px;
		}
    }
}

div#search-again {
    float: right;
    vertical-align: middle;
    line-height: 4;
    color: #747474;
    text-transform: uppercase;
}

div#new-search {
  float: right;
  vertical-align: middle;
  line-height: 4;
  color: #747474;
  text-transform: uppercase;
  padding-left:20px;
}

a.search-again-link, a.new-search-link {
  float: right;
  height: 60px;
  text-transform: uppercase;
  color: #6f6f6f !important;
  /* margin-bottom: 4em; */
  font-size: 12px;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  line-height: 60px;
}
a.search-again-link:hover, a.new-search-link:hover {
	cursor: pointer;
	color: @arcs-blue !important;
	text-decoration: none !important;
}

#no-results {
    margin: 20% auto;
    width: 100px;
    font-size: 120%;
    font-weight: 300;
    color: #444;
}

img.search-results-thumbnall {
    height: 125px;
    width: 150px;
    margin-top: 3em;
    margin-right: 3em;
}

.flex-item {
    background: #CABCBA;
    max-width: 175px;
    height: 125px;
    line-height: 125px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.19);
}

.resource-title {
    max-width: 160px;
    margin-top: 12px;
    color: #6f6f6f;
    margin: 5px 0;
}

.resource-type {
    color: #6f6f6f;
    font-size: 13px;
    margin: 7px 0;
}

.resource-item-container {
    margin: 20px;
}

ul.pagination {
    margin-left: auto!important;
    margin-right: auto!important;
    width: auto;
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
    display: flex;

	.selected {
		border: 1px solid @arcs-blue !important;
		border-radius: 100% !important;
		background: @arcs-blue !important;
		color: white !important;
	}
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    margin: 8px 2px !important;
    /*line-height: 50px !important;*/
    text-decoration: none;
    color: #6f6f6f;
    background-color: transparent !important;
    border: none !important;
	font-weight: bold;
}

.pagination > li > a:hover {
	text-decoration: none;
	cursor: pointer;
}

.icon-annotate{
    width: 19px;
    height: 19px;
    background-image: url("../img/AnnotationsTooltip.svg");
    background-position: center;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
    background-repeat: no-repeat;
}

.icon-collection {
    width: 19px;
    height: 19px;
    background-image: url("../img/BelongsToCollectionTooltip.svg");
    background-position: center;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
    background-repeat: no-repeat;
}

.icon-flag {
    width: 15px;
    height: 19px;
    background-image: url("../img/FlagTooltip.svg");
    background-position: center;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
    background-repeat: no-repeat;
}

.search-icon-edit {
	width: 15px;
    height: 15px;
    background-image: url("../img/metadataTooltip.svg");
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-in-collection{
    width: 19px;
    height: 15px;
    background-image: url("../img/BelongsToCollectionTooltip.svg");
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-discussed {
    width: 19px;
    height: 15px;
    background-image: url("../img/DiscussedTooltip.svg");
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-tagged {
    width: 19px;
    height: 16px;
    background-image: url("../img/TaggedTooltip.svg");
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}
.leftMost{
	left: -46% !important;
}
#rightArrow{
	position: relative;
    top: 15px;
    bottom: 0;
    right: 0;
    left: -7px;
    transform: rotate(-135deg);
}
#rightArrowBox{
	cursor: pointer;
}
#leftArrow{
    position: relative;
    left: -2px;
    right: 0;
    top: 15px;
    bottom: 0;
    transform: rotate(45deg);
}
#leftArrowBox{
	cursor: pointer;
}
#fDots{
	cursor: pointer;
}
#dots{
	cursor: pointer;
}
.pointerNum{
	margin: 5px 0 0 30px;
	margin-left: 10px;
	border: solid grey;
	border-width: 2.5px 2.5px 0 0;
}
#pagination{
    display: inline-block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}
.mobile-filter-opt{
  display: none;
}
.mobile-search-reroutes{
  display: none;
}
@media screen and (max-width: 960px){
	// .search-toolbar{
	// 	display: none;
	// }
  div#search-results-wrapper{
    background:rgba(254,254,254,1);
  }

	.toolbar-fixed{
		display: none;
	}
	#items-per-pages-buttons{
		display: none;
	}
	#search-again, #new-search{
		display: none;
	}
	#sites-buttons, #seasons-buttons, #resources-buttons, #excavation-buttons, #author-buttons, #view-buttons,#options-buttons, #sorting-buttons {
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  div#search-bottom-bar {
    background: none !important;
    border-top:none !important;
    border-bottom: none !important;
    bottom: 190px !important;

  }
  .grid-list{
    margin-bottom: 19em !important;
  }
.mobile-filter-opt{
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60px;
}
  div#search-results-wrapper div#search-actions {
    padding: 0;
    width:100%;
    margin: 0;
  }
  .tool-bar-results{
    display: none;
    height: 240px;
    position: absolute;
    z-index: 1;
    opacity: 0.95;
    border-bottom: 1px solid #E2E2E2;
    background: #f4f4f4;
    width: 100%;
    top: 60px;
  }

  #view-buttons, #options-buttons, #sorting-buttons{
    display: none;
  }
  .dropdown-menu{
    min-width: 100%;
    opacity: 0.95;
    background: #f4f4f4;
    left: 0 !important;
    border: none;
    text-align: center;
    top: 95%;
  }
  ul.dropdown-menu{
    left:0;
  }
  .flex-container .simple {
    width: 114px !important;
  }

  .mobile-search-reroutes{
    float: left;
    bottom: 0;
    position: absolute;
    height: 60px;
    width: 100%;
    /* margin-top: 60px; */
    /* float: left; */
    bottom: 0;
    text-align: center;
    height: 160px;
    display: block;

    p.searchAgain{
      color: @arcs-blue;
      font-family: "Helvetica Neue";
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
    }

    p.newSearch{
      color: @arcs-blue;
      font-family: "Helvetica Neue";
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      margin-top: 50px;
    }

    p.advSearch{
      color: @arcs-blue;
      font-family: "Helvetica Neue";
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      margin-top: 50px;
    }
  }

  //.result_a{
  //  text-align: left;
  //}

}
