// results.less
// ------------

@ArcsBlue: rgb(0, 147, 190);

  .pointerDown {
            width: 8px;
			height: 8px;
			border: solid #808080;
			border-width: 2.5px 2.5px 0 0;
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
			margin: 5px 0 0 30px;
			margin-left: 10px;
        }
        .pointerUp {
            width: 8px;
            height: 8px;
            border: solid #808080;
            border-width: 2.5px 2.5px 0 0;
            -webkit-transform: rotate(315deg);
            -moz-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
            -o-transform: rotate(315deg);
            transform: rotate(315deg);
            margin: 5px 0 0 30px;
			margin-left: 10px;
        }

.SearchBar {
    background: #f4f4f4;
    height: 60px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

button#sites-btn {
    margin-left: -10px;
}

button#options-btn {
    margin-right: -10px;
}


div#search-results-wrapper {
    float: left;
    width: 100%;
    background: #f9f9f9;
    visibility: hidden;
    position:relative;
    height: auto;

    div#search-results {
        width: 90%;
        margin: auto;
        color: #444;
        table {
            border-collapse: separate;
        }
    }
    
    div#search-bottom-bar {
        bottom: 0;
		position: absolute;
		height: 60px;
		background: #f4f4f4;
		border-top: 1px solid #e9e9e9;
		border-bottom: 1px solid #e9e9e9;
    }

    div#search-actions {
            padding: 5px;
			width: 90%;
			margin: auto;
        
        .btn {
            background: transparent;
            border: 0;
            outline: none;
            box-shadow: none;
            text-transform: uppercase;
        }
        
        .notactive {
            color: rgba(68, 68, 68, .25);
        }
        
        .active {
            z-index: 0;
            color: @ArcsBlue !important;
            box-shadow: none;
        }
        
        .icon-grid {
            width: 17px;
            height: 16px;
        }
        
        .icon-grid:before {
            content:''; height:19px; width:19px; background:#333; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; display:block; position:absolute; top:0; left:0px; box-shadow:21px 0 0 #333, 0 21px 0 #333, 21px 21px 0 #333;-webkit-box-shadow:21px 0 0 #333, 0 21px 0 #333, 21px 21px 0 #333;-moz-box-shadow:21px 0 0 #333, 0 21px 0 #333, 21px 21px 0 #333;
        }

        .actions-right {
            float: right;
            position: relative;
        }
        
        .actions-left {
            float: left;
            position: relative;
        }
        
        #open-buttons {
            right: 18px;
        }
        #sort-buttons {
            z-index: 1;
            #sort-btn {
                span#sort-by {
                    font-size: 95%;
                    font-weight: bold;
                }
            }
            
        .pointerDown {
            width: 8px;
			height: 8px;
			border: solid #808080;
			border-width: 2.5px 2.5px 0 0;
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
			margin: 5px 0 0 30px;
			margin-left: 10px;
        }
        .pointerUp {
            width: 8px;
            height: 8px;
            border: solid #808080;
            border-width: 2.5px 2.5px 0 0;
            -webkit-transform: rotate(315deg);
            -moz-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
            -o-transform: rotate(315deg);
            transform: rotate(315deg);
            margin: 5px 0 0 30px;
			margin-left: 10px;
        }
            
        .dropdown-menu {
            z-index: 0;
            border: 0;
            border-radius: 0;
            background: #cecece;
            top: -14%;
            padding-top: 5em;            
			box-shadow: none !important;
        }
            
        }
        ul.dropdown-menu li a {
            cursor: pointer;
            display: block;
			padding: 3px 20px;
			clear: both;
			line-height: 1.42857143;
			color: #333333;
			white-space: nowrap;
			text-transform: uppercase;
			font-size: 13px;
        }
    }

    .toolbar-fixed {
        border-bottom: 1px solid #999;
        position: fixed;
        top: 0px;
        width: 100%;
    }
}

div#search-again {
    float: right;
    vertical-align: middle;
    line-height: 50px;
    color: #747474;
    text-transform: uppercase;
}

a.search-again-link {
    float: right;
    text-transform: uppercase;
    color: #6f6f6f !important;
    margin-bottom: 4em;
    font-size: 12px;
}

#no-results {
    margin: 20% auto;
    width: 100px;
    font-size: 120%;
    font-weight: 300;
    color: #444;
}

img.search-results-thumbnall {
    height: 125px;
    width: 150px;
    margin-top: 3em;
    margin-right: 3em;
}

.flex-container {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    margin-bottom: 7em;
    margin-top: 3em;
 }

.flex-item {
    background: #CABCBA;
    width: 175px;
    height: 125px;
    line-height: 125px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.19);
}

.resource-title {
    width: 160px;
    margin-top: 12px;
    color: #6f6f6f;
}

.resource-type {
    color: #6f6f6f;
    font-size: 13px;
    margin-top: 2px;
}

.resource-item-container {
    margin: 20px;
}

ul.pagination {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 165px;
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
    display: block !important;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 0px 12px !important;
    line-height: 50px !important;
    text-decoration: none;
    color: #6f6f6f;
    background-color: transparent !important;
    border: none !important;
}

.icon-annotate{
    width: 19px;
    height: 19px;
    background-image: url("../img/AnnotationsTooltip.svg");
    background-position: center;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
    background-repeat: no-repeat;
}

.icon-collection {
    width: 19px;
    height: 19px;
    background-image: url("../img/BelongsToCollectionTooltip.svg");
    background-position: center;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
    background-repeat: no-repeat;
}
    
.icon-flag {
    width: 18px;
    height: 19px;
    background-image: url("../img/FlagTooltip.svg");
    background-position: center;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
    background-repeat: no-repeat;
}

.search-icon-edit {
        width: 16px;
    height: 18px;
    background-image: url("../img/metadataTooltip.svg");
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-in-collection{
    width: 19px;
    height: 19px;
    background-image: url("../img/BelongsToCollectionTooltip.svg");
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-discussed {
    width: 19px;
    height: 19px;
    background-image: url("../img/DiscussedTooltip.svg");
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-tagged {
    width: 19px;
    height: 19px;
    background-image: url("../img/TaggedTooltip.svg");
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}