// search.less
// -----------


#field-selctor {
  margin-top: 19px;
  font-size: 12px;
  color: #686868;
}
#field-selctor span {
  padding-right: 10px;
}
#field-selctor ul{
  display: inline-block;
  padding: 0;
}
#field-selctor li{
  border-right: 1px solid #E2E2E2;
  padding: 4px;
  display: inline-block;
  margin: 4px;
  font-weight: bold;
  padding-left: 0;
  margin-left: 0;
}
#field-selctor .exit-btn{
  font-weight: 100;
  padding-left: 10px;
  cursor: pointer;
}
.search-filter-selector {
    text-align: center;
}


@ArcsBlue: rgb(0, 147, 190);
div#searchButtonMobile{
	display: none;
}
a.search-type {
	color: @arcs-blue;
}

.searchIntro {
	padding-top: 40px;
	margin: auto;
	width: 90%;
	margin-bottom: 4em;
	color: #444444;
    h1 {
				position: relative;
        margin-bottom: 25px;
        font-size: 25px;
    }

    p {
        line-height: 200%;
				    font-size: medium;
    }
}

div#searchBox {
    margin: auto;
    background: white;
    min-height: 50px;
    width: 90%;
}

div#searchBoxAdvanced {
    margin: auto 5% auto 5%;
    background: transparent;
    min-height: 50px;
    width: 90%;
	display: inline-block;
}

.searchIcon {
	background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../img/SearchDark.svg") no-repeat;
    position: absolute;
    margin: 1em;
    margin-top: 18px;
}
input.searchBoxInput {
    background: transparent !important;
    min-height: 50px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #e9e9e9 !important;
    padding-left: 50px !important;
}

input.searchBoxInput:focus {
	border: 1px solid #2FA6C7 !important;
}

.searchBoxColumn {
	display: inline-block;
	width: 48%;
	margin: 0 0.75%;
}
input.searchBoxAdvanced {
    background: transparent !important;
    min-height: 50px;
    width: 100%;
    font-size: 14px !important;
    border: 1px solid #e9e9e9 !important;
	margin: 0px 0px 20px 0px !important;
}

input.searchBoxAdvanced:focus {
	border: 1px solid #2FA6C7 !important;
}

.searchButton {
	width: 100% !important;
	border-radius: 0;
	border: 0;
}


div#advanced {
    // margin: 80px;
    // width: 90%;
    margin-top: 1em;
}

.export-options {
  display: none;
  background: transparent;
  border: 0;
  font-size: 12px;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  height: 60px;
}

a.advancedSearch {
		// margin-right:1.5%;
    float: right;
    text-transform: uppercase;
    color: #2FA6C7 !important;
    margin-bottom: 4em;
    font-size: 12px;
}

span.stretcher {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.searchCriteriaItem {
    width: auto;
    height: 20px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
}

div#searchCriteriaWrapper {
    height: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    /* width:  90%; */
    text-transform: uppercase;
    /* font-size: 95%; */
    margin: 2em 4em;
    margin-top: 3em;
}

#searchCriteria li {
    text-transform: uppercase;
    font-size: 90%;
    display:  table-cell;
    text-align: justify;
}

div#searchCriteria {
    width: 90%;
    display: table;
    margin: auto;
}

div#searchCriteria ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: table;
    width: 100%;
    overflow: hidden;
}


#hotspot-search, .search-wrapper {
    input[type=text] {
        box-shadow: none;
    }
}

#search-wrapper {
    width: 90%;
    margin: 2em auto 5em auto;
    color: @ArcsBlue;


    ul {
        padding: 0;
        list-style-type: none;
        width: 100%;
        margin-bottom: 3em;

        li {
            display: inline-block;
            width: 8.7%;
            text-transform: uppercase;
            font-size: 90%;
            text-align: center;
        }
    }

    input[type=text] {
        width: 100%;
        height: 50px;
        background: #fff;
        background: url(https://cdn3.iconfinder.com/data/icons/watchify-v1-0-80px/80/search-80px-32.png) no-repeat 1% 50%;
        padding-left: 5em;
        border: 1px solid #808080;
    }
}

/*.searchBar {
    height: 60px;
    background: #f4f4f4;
}*/

.search-help-btn {
    float: right;
    position: relative;
    top: 6px;
    margin-right: 5px;
    opacity: 0.3;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.search-help {
    background: #000;
    width: 800px;
    padding: 0 20px;
    height: 190px;
    margin-top: 20px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    margin-left: -420px;
    z-index: 1001;
    .rounded-corners(5px);
    .text-shadow(#000);
    font-family: 'Pontano Sans', sans-serif;
    background: rgba(0, 0, 0, 0.90);
    color: #ddd;
    ul {
        float: left;
        padding: 0 10px;
        margin-left: 0px;
        &.terms {
            border-right: 1px solid #ddd;
            li {
                text-transform: uppercase;
                font-family: Arial, sans-serif;
                font-size: 10px;
                font-weight: bold;
            }
        }
        li {
            list-style-type: none;
        }
    }

    div {
        margin: 10px 0;
        .cleared;
    }

    a:hover {
        color: lighten(#058, 30%);
    }

    .search-help-arrow {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #111;
        position: relative;
        top: -15px;
        .centered;
    }

    a.search-help-close {
        color: #ddd;
        border: 1px solid #ddd;
        font-size: 13px;
        padding: 4px;
        .rounded-corners(5px);
        cursor: pointer;
        &:hover {
        text-decoration: none;
        color: #ddd;
        }
        position: absolute;
        right: 15px;
        top: 15px;
    }

}


//advancedSewarch
.advanced-search-container {
	width: 70%;
    margin: auto;
    padding-top: 5px;
}
#backToSearch {
	font-size: 12px;
	margin-bottom: 16px;
}

#backToSearch a{
    color: @arcs-blue;
}

#search-box{
	margin-bottom: 140px;
}
#page-title {
	color: #3F3F3F;
    font-size: 38px;
    font-weight: 500;
}
#page-description {
	color: #686868;
	font-size: 14px;
	line-height: 24px;
	margin-top: 16px;
}
#page-help{
	font-family: Montserrat;
	font-size: 14px;
	text-align: center;
	color: #686868;
	width: 25px;
	height: 25px;
	background-color: #FFFFFF;
	border: 1px solid #686868;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 18px;
	line-height: 24px;
}
.search-btn {
	width: 70%;
	height: 44px;
	background: @arcs-blue;
	border: 1px solid @arcs-blue;
	color: white;
	position: fixed;
	bottom: 60px;
	margin: auto;
}
.page-info header {
	position: relative;
}
.search-info {
	margin-bottom: 80px;
}
.search-options {
	margin-top: 48px;
}
.search-options header {
	color: #3F3F3F;
	font-size: 20px;
	line-height: 24px;
}
.search-options header p{
	margin-bottom: 22px;
}
.section-search-box option {

}
.section-search-box input, .section-search-box select {
	width: 100%;
	height: 44px;
	border: 1px solid #E2E2E2 !important;
	background: white !important;
	font-size: 14px;
	padding-left: 20px;
	color: #3F3F3F;
}
.section-search-box {
	margin-bottom: 20px;
}
.section-search-box p {
	font-size: 12px;
	line-height: 14px;
	color: #3F3F3F;
}
.date-select {
	font-size: 0;
}
.date-select select{
	width: 33.33333%;
	margin-left: -1px;
}
#pageHelpModal {
	display: none;
	position: fixed;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
#pageHelpModal div {
	width: 60%;
	margin: auto;
	max-height: ~"calc(100vh - 100px)";
	text-align: left;
	background: grey;
	display: initial;
	position: absolute;
	z-index: 200;
	overflow-y: scroll;
	top: 100px;
	left: 0;
	padding: 80px;
	right: 0;
	color: white;
	font-size: 16px;
	line-height: 30px;
	padding-top: 24px;
}
#pageHelpModal p {
	margin-top: 30px;
}
#pageHelpModal .modal-title {
	margin-bottom: 30px;
	font-size: 24px;
}
#pageHelpModal:target {
	display: block;
}
.double-select {
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}
.double-select input {
    width: 50%;
    display: inline-block;
}
.double-select select {
    width: 50%;
    border-left: none !important;
}

.hiddenProject{
  display: none !important;
}
.hideSearchBars{
  display: none;
}
//endadvanced

.search-all-info{
	padding-top: 55px;
	margin: auto;
	width: 90%;
	margin-bottom: 4em;
	color: #444444;
	    font-size: medium;
}

@media screen and (min-width: 1500px){

	div.searchIntro {
    width: 1200px;
    margin: auto;
		margin-bottom: 4em;
	}

	.search-all-info{
		width: 1200px;
    margin: 4em auto;
    font-size: medium;
	}
}

@media screen and (max-width: 930px){
	#searchButtonMobile{
		display: block !important;
    margin-top: 20px;
    height: 50px;
    border: 1px solid @arcs-blue;
    background: @arcs-blue;
    color: white;
    text-align: center;
    vertical-align: text-top;
    line-height: 50px;
}
div#advanced {
    margin-top: 20px;
    height: 100px;
    color: white;
    text-align: center;
    vertical-align: text-top;
    line-height: 100px;
		clear: both;
}
a.advancedSearch{
	float: none;
}
}


