// toolbar.less
// ------------

@toolbarFontSize: 12px;
@toolbarLineHeight: @toolbarFontSize * 4;
@ArcsBlue: rgb(0, 147, 190);
@ToolbarColor: #F4F4F4;

div#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: @ToolbarColor;
    //  margin-bottom: 10px;
    //  margin-left: -10px;
    //  margin-right: -10px;
    padding-left: 10px;
    height: 60px;
    border-bottom: 1px solid #e9e9e9;

    a#logo-wrapper {
        &:hover { text-decoration: none; }
    }

    h1#logo {
        display: inline;
        font-size: 25px;
        font-weight: 400;
        line-height: 125%;
        padding-left: 60px;
        padding-bottom: 5px;
        color: #444;
        background: no-repeat top left url('img/arcs-icon.png');
        background-position: 10px 0px;
        margin-top: 15px;
        margin-right: 10px;
        float: left;
    }

    .btn {
        padding-right: 30px;
        padding-left: 30px;
        border-bottom: 1px solid #e9e9e9;
    }

    .btn-grey {
        background: @ToolbarColor;
        border: none;
        border-radius: 0;
        height: 60px;
        color: #808080;
        padding-right: 30px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: @toolbarFontSize;
        line-height: @toolbarLineHeight;
        border-bottom: 1px solid #e9e9e9;
        float: left;
    }

    .btn-dark {
        background: #808080;
        border: none;
        border-radius: 0;
        height: 60px;
        color: rgb(252, 252, 252);
        padding-right: 30px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: @toolbarFontSize;
        line-height: @toolbarLineHeight;
        top:0;
        /*border-bottom: 1px solid #e9e9e9;*/
    }

    .btn-blue {
        background: @ArcsBlue;
        border: none;
        border-radius: 0;
        height: 60px;
        color: #fff;
        padding-right: 30px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: @toolbarFontSize;
        line-height: @toolbarLineHeight;
        border-bottom: 1px solid #e9e9e9;
    }

    .toolbar-btn {
        display: block;
        right: -5px;
        height: 60px;
        float: right;
        position: relative;
        border: none;
        border-radius: 0;
        background: #808080;
        color: #fff;
        text-transform: uppercase;
        font-size: @toolbarFontSize;
        line-height: @toolbarLineHeight;
        border-bottom: 1px solid #e9e9e9;
    }
}

.dropped-menu {
    display: none;
    background: #F4F4F4;
    a {
        color: #808080;
        display: block;
        padding-left: 30px;
    }
    a:hover {
        text-decoration: none;
        color: rgb(252, 252, 252);
        background: #777;
    }
}

.pointerDown {
    float: right;
    width: 8px;
    height: 8px;
    border: solid rgb(252, 252, 252);
    border-width: 2.5px 2.5px 0 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: 17px 0 0 10px;
}
.pointerUp {
    float: right;
    width: 8px;
    height: 8px;
    border: solid rgb(252, 252, 252);
    border-width: 2.5px 2.5px 0 0;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    margin: 20px 0 0 10px;
}

/*#projects:hover .projects-menu{
	display: block;
	width: inherit;
}*/

.projects-menu {
    display: none;
    background: #F4F4F4;
    position: absolute;
    //directly under the button and same size
    //width: 100%;
    //left:0%;
    //overhangs an even amount on the left and right
    width: 130% !important;
    left: -12.5%;
    margin-top: 5px;
}
.projects-menu a {
    color: #808080;
    display: block;
    text-align: left;
    padding-left: 20px;
}
.projects-menu a:hover {
    display: block;
    text-decoration: none;
    color: #fcfcfc;
    background: #777;
}

.search-bar {
    background: @ToolbarColor;
    color: #808080;
    margin-left: 5px;
    height: 60px;
    width: 300px !important;
    float: right;
    position: relative;
    border-bottom: 1px solid #e9e9e9 !important;
    border-left: 1px solid #e9e9e9 !important;
    border-radius: 0;
    text-transform: uppercase;
    font-size: @toolbarFontSize;
    line-height: @toolbarLineHeight;
}

.indexSearchIcon {
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../img/SearchDark.svg") no-repeat;
    position: absolute;
    margin-left: 255px;
    margin-top: 22px;
}
input.indexSearchBox {
    background: transparent !important;
    min-height: 50px;
    width: 100%;
    font-size: @toolbarFontSize;
    border: none !important;
    padding-left: 25px !important;
    padding-right: 50px !important;
}

.dropArrow{
    background-image: url(../img/ArrowDown.svg);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 7px;
    bottom: 0;
    margin: auto;

}
.dropArrowFull{
    background-image: url(../img/ArrowDown.svg);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 7px;
    bottom: 0;
    margin: auto;

}
.dropArrow-white{
    background-image: url(../img/ArrowDownWhite.svg);
    background-size: 10px 20px;
    height: 27px;
}
.dropArrow-whiteFull{
    background-image: url(../img/ArrowDownWhite.svg);
    background-size: 10px 20px;
    height: 27px;
}
#belowProjects{
    float: right;
    top:0;
}
#loginModal{
    top:0;
}
#searchHeader{
    display: none;
}
#helpSearch{
    float: right;
    top: 0;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@media screen and (max-width: 930px) {
    div#toolbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background: #F4F4F4;
        height: 60px;
        border-bottom: 1px solid #e9e9e9;
        padding:0;
        width:100%;

        a#logo-wrapper {
            &:hover { text-decoration: none; }
        }

        h1#logo {
            display: inline;
            font-size: 25px;
            font-weight: 400;
            line-height: 125%;
            padding-left: 60px;
            padding-bottom: 5px;
            color: #444;
            background: no-repeat top left url('img/arcs-icon.png');
            background-position: 10px 0px;
            margin-top: 15px;
            margin-right: 10px;
            float: left;
        }

        .btn {
            //visibility: hidden;
            padding-right: 30px;
            padding-left: 30px;
            border-bottom: 1px solid #e9e9e9;
        }

        .btn-grey {
            background: @ToolbarColor;
            border: none;
            border-radius: 0;
            height: 60px;
            color: #808080;
            padding-right: 30px;
            padding-left: 30px;
            text-transform: uppercase;
            font-size: @toolbarFontSize;
            line-height: @toolbarLineHeight;
            border-bottom: none;
            width:100%;
            top: -111px;
        }

        .btn-dark {
            background:  @ToolbarColor;
            border: 0;
            border-radius: 0;
            height: 60px;
            color: gray;
            padding-right: 30px;
            padding-left: 30px;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 48px;
            top: 300px;
            /*border-bottom: 1px solid #e9e9e9;*/
        }

        .btn-blue {
            background: @ToolbarColor;
            border: none;
            border-radius: 0;
            height: 60px;
            color: #808080;
            padding-right: 30px;
            padding-left: 30px;
            text-transform: uppercase;
            font-size: @toolbarFontSize;
            line-height: @toolbarLineHeight;
            border-bottom: none;
        }

        .toolbar-btn {
            display: none;
            //top:60px;
            right: 0px;
            height: 60px;
            float: right;
            position: relative;
            border: 0;
            border-radius: 0;
            background: @ToolbarColor;
            color: gray;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 48px;
            border-bottom: 1px solid #e9e9e9;
            width: 110%;
            right: -6px;
            top: 120px;
        }
    }

    .dropped-menu {
        background: #F4F4F4;
        display: none;
        a {
            color: #808080;
            display: block;
            padding-left: 30px;
        }
        a:hover {
            display: none ;
            text-decoration: none;
            color: rgb(252, 252, 252);
            background: #777;
        }
    }

    .pointerDown {
        float: right;
        width: 8px;
        height: 8px;
        border: solid rgb(252, 252, 252);
        border-width: 2.5px 2.5px 0 0;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        margin: 17px 0 0 10px;
    }
    .pointerUp {
        float: right;
        width: 8px;
        height: 8px;
        border: solid rgb(252, 252, 252);
        border-width: 2.5px 2.5px 0 0;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        -o-transform: rotate(315deg);
        transform: rotate(315deg);
        margin: 20px 0 0 10px;
    }

    /*#projects:hover .projects-menu{
        display: none;
    }*/

    .projects-menu {
        display: none;
        background: #F4F4F4;
        position: absolute;
        //directly under the button and same size
        //width: 100%;
        //left:0%;
        //overhangs an even amount on the left and right
        width: 100% !important;
        left: 0;
        margin-top: 5px;
    }
    .projects-menu a {
        color: #808080;
        display: block;
        text-align: center;
        padding-left: 20px;
    }
    .projects-menu a:hover {
        text-decoration: none;
        color: #fcfcfc;
        background: #777;
    }

    .search-bar {
        display:none;
    }


    .dropArrow{
        background-image: url(../img/ArrowDown.svg);
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        right: 0;
        position: absolute;
        left: 97px;
        bottom: 0;
        top: 7px;

    }
    .dropArrowFull{
        background-image: url(../img/ArrowDown.svg);
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        right: 0;
        position: absolute;
        left: 121px;
        bottom: 0;
        top: 8px;

    }
    .dropArrow-whiteFull{
        background-image: url(../img/ArrowDown.svg);
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        right: 0;
        position: absolute;
        left: 121px;
        bottom: 0;
        top: -8px;

    }

    .dropArrow-white {
        background-image: url(../img/ArrowDown.svg);
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        right: 0;
        position: absolute;
        left: 97px;
        bottom: 0;
        top: 8px;
    }

    /*#hamburger{
        cursor:pointer;
        background-image: url(../img/Hamburger.svg);
        height: 15px;
        width: 20px;
        right: 17px;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
    }*/

    .hamburgerActive{
        cursor:pointer;
        background-image: url(../img/Hamburger-Active.svg);
        height: 15px;
        width: 20px;
        right: 17px;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
    }
    .hamburger{
        cursor:pointer;
        background-image: url(../img/Hamburger.svg);
        height: 15px;
        width: 20px;
        right: 17px;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
    }
    #DropHam{
        visibility: hidden;
    }
    #belowProjects{
        width: 100%;
        position: absolute;
        top: -55px;
    }
    #log{
        top: 233px;
        position: absolute;
        width: 100%;
    }
    #searchHeader{
        display: block;
        border-bottom: 2px solid #e9e9e9;
    }
    #helpSearch{
        float: right;
        top: 0;
        width: 100%;
        position: absolute;
    }
    .toolbar-btn{
        border-top: 1px solid gray;
    }
    /*
    #search{
        position: absolute;
    top: 176px;
    right: 0;

    }
    #help{
            position: absolute;
    top: 117px;
    right: 0;
    }
    #collections{
        position: absolute;
    top: 58px;
    right: 0;
    }*/

}