// toolbar.less
// ------------

@toolbarFontSize: 12px;
@toolbarLineHeight: @toolbarFontSize * 4;
@ArcsBlue: rgb(0, 147, 190);

div#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #ccc;
    //  margin-bottom: 10px;
    //  margin-left: -10px;
    //  margin-right: -10px;
    padding-left: 10px;
    height: 60px;
    box-shadow: 0 2px 5px rgba(128, 128, 128, .5);

    a#logo-wrapper {
        &:hover { text-decoration: none; }
    }

    h1#logo {
        display: inline;
        font-size: 25px;
        font-weight: 400;
        line-height: 125%;
        padding-left: 60px;
        padding-bottom: 5px;
        color: #444;
        background: no-repeat top left url('img/arcs-icon.png');
        background-position: 10px 0px;
        margin-top: 15px;
        margin-right: 10px;
        float: left;
    }

    .btn {
        padding-right: 30px;
        padding-left: 30px;
    }

    .btn-grey {
        background: #ccc;
        border: none;
        border-radius: 0;
        height: 60px;
        color: #808080;
        padding-right: 30px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: @toolbarFontSize;
        line-height: @toolbarLineHeight;
    }

    .btn-dark {
        background: #808080;
        border: none;
        border-radius: 0;
        height: 60px;
        color: rgb(252, 252, 252);
        padding-right: 30px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: @toolbarFontSize;
        line-height: @toolbarLineHeight;
    }

    .btn-blue {
        background: @ArcsBlue;
        border: none;
        border-radius: 0;
        height: 60px;
        color: #fff;
        padding-right: 30px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: @toolbarFontSize;
        line-height: @toolbarLineHeight;
    }

    .toolbar-btn {
        right: -5px;
        height: 60px;
        float: right;
        position: relative;
        border: none;
        border-radius: 0;
        background: #808080;
        color: #fff;
        text-transform: uppercase;
        font-size: @toolbarFontSize;
        line-height: @toolbarLineHeight;
    }
}

.dropped-menu {
    display: none;
    background: #ccc;
    a {
        color: #808080;
        display: block;
        padding-left: 30px;
    }
    a:hover {
        text-decoration: none;
        color: rgb(252, 252, 252);
        background: #808080;
    }
}

.pointerDown {
    float: right;
    width: 8px;
    height: 8px;
    border: solid rgb(252, 252, 252);
    border-width: 2.5px 2.5px 0 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: 17px 0 0 10px;
    }
    .pointerUp {
    float: right;
    width: 8px;
    height: 8px;
    border: solid rgb(252, 252, 252);
    border-width: 2.5px 2.5px 0 0;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    margin: 20px 0 0 10px;
}