// viewer.less
// -----------

@ArcsBlue: rgb(0, 147, 190);



/* The following is for the scroll-to-zoom feature*/	
input[type=range] {
  -webkit-appearance: none;
  width: 10%;
  margin: 3.5px 0;
  margin-left: 3%;
  display: inline;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0.1px #000000, 0px 0px 0px #0d0d0d;
  background: #e4e4e4;
  border-radius: 11.3px;
  border: 0.5px solid #e4e4e4;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 8px;
  background: #9a9a9a;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e4e4e4;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0.1px #000000, 0px 0px 0px #0d0d0d;
  background: #e4e4e4;
  border-radius: 11.3px;
  border: 0.5px solid #e4e4e4;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 8px;
  background: #9a9a9a;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e4e4e4;
  border: 0.5px solid #e4e4e4;
  border-radius: 22.6px;
  box-shadow: 0px 0px 0.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #e4e4e4;
  border: 0.5px solid #e4e4e4;
  border-radius: 22.6px;
  box-shadow: 0px 0px 0.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 8px;
  background: #9a9a9a;
  cursor: pointer;
  height: 1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #e4e4e4;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e4e4e4;
}

.viewers-container {
	position:relative;
	height: 959px;
}

#viewer-left {
	float: left;
	width: 70%;
	height: 100%;
}

#viewer-right {
	float: right;
	width: 30%;
	height: 100%;
	border-left: 1px solid #cdcdcd;
}

.container1 {
	width: 90%;
	margin: auto;
}

#viewer-tools {
	float: left;
	width: 100%;
	height: 60px;
	background: #F9F9F9;
	line-height: 60px;
	border-bottom: 1px solid #cdcdcd;
	
	a {
		text-decoration: none;
		color: #000;
	}
	
	a:hover, a:visited {
		text-decoration: none;
	}
	
	h3 {
		display: inline;
		line-height: 60px;
	}
	
	.tools {
		display: inline;
		float: right;
		line-height: 70px;
		
		span {
			
			margin-left: 16px;
			color: #5A5B5D;
			text-transform: uppercase;
			font-size: 80%;
			display: inline-block;
			
			.content {
				margin-left: 16px;
				color: #5A5B5D;
				text-transform: uppercase;
				font-size: 80%;
				display: inline-block;
			}
		}
		
		.icon-annotate {
			width: 19px;
			height: 19px;
			background-image: url("../img/AnnotationsTooltip.svg");
			background-position: center;
			cursor: pointer;
			vertical-align: middle;
			display: inline-block;
			padding-left: 5px;
			background-repeat: no-repeat;
		}
		
		.icon-flag {
			width: 19px;
			height: 19px;
			background-image: url("../img/FlagTooltip.svg");
			background-position: center;
			cursor: pointer;
			vertical-align: middle;
			display: inline-block;
			padding-left: 5px;
			background-repeat: no-repeat;
		}
		
		.icon-export {
			width: 19px;
			height: 19px;
			background-image: url("../img/export.svg");
			background-position: center;
			cursor: pointer;
			vertical-align: middle;
			display: inline-block;
			padding-left: 5px;
			background-repeat: no-repeat;
		}
	}
}

.metadata {
	float: left;
	border: 0;
	background: #F9F9F9;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 90%;
	
	#search {
		float: left;
		width: 100%;
		height: 60px;
		background: #f9f9f9;
		border-bottom: 1px solid #cdcdcd;
		
		.title {
			float: left;
			width: 50%;
			padding-left: 16px;
			line-height: 60px;
			border-right: 1px solid #cdcdcd;
		}
		
		input[type=text] {
			float: left;
			display: inline-block;
			width: 50%;
			height: 60px;
			margin: 0;
			padding-right: 45px;
			background: url(https://cdn3.iconfinder.com/data/icons/watchify-v1-0-80px/80/search-80px-32.png) no-repeat 95% 50%;
			outline: none;
		}
	}
	
	.metadata-tabs {
		height: 60px;
		border: 0;
		background: #F9F9F9;
		border-bottom: 1px solid #cdcdcd;
	}
	
	.metadata-tab {
		float: left;
		line-height: 40px;
		background: #F9F9F9;
		outline: none;
		font-size: 80%;
		border: 0;
		margin: 0 !important;
		width: 25%;
		text-transform: uppercase;
		
		a {
			height: 52px;
			display: inline-block;
			width: 100%;
		    display: block;
		    text-align: center;
		    outline: none;
		    background: #F9F9F9;
		}
	}
	
	.metadata-tab.ui-state-active {
		color: @ArcsBlue !important;
		border-bottom: 4px solid @ArcsBlue !important;
	}
	
	.metadata-content {
		float: left;
		background: #F9F9F9;
		border: 0;
		padding: 0;
		width: 100%;
		
		.edit {
			display: inline;
			float: right;
		}
		
		.metadata-accordion {
			float: left;
			position: relative;
			
			.level-tab {
				height: 60px;
				font-size: 100%;
				line-height: 60px;
				border-radius: 0;
				border: 0;
				outline: none;
				padding: 0 16px;
				margin: 0;
				background: #f9f9f9;
				border-bottom: 1px solid #cdcdcd !important;
				
				span {
					float: right;
					font-size: 90%;
					color: #808080;
				}
			}
			
			.level-tab:last-child {
				border-bottom: 0 !important;
			}
			
			.level-tab.ui-accordion-header-active {
				background: #f9f9f9;
				border-bottom: 1px solid #cdcdcd !important;
				color: @ArcsBlue !important;
			}
			
			.level-content {
				border-radius: 0;
				margin-bottom: 0px;
				width: 100%;
				padding: 0;
				border: 0;
				border-bottom: 1px solid #ccc !important;
				
				table {
					width: 100%;
					font-size: 80%;
					
					tr:nth-child(even) {
						background: rgba(241, 241, 241, 0.6);
					}
					tr:nth-child(odd) {
						background: rgb(239, 239, 239);
					}
					
					tr {
						
						td {
							padding: 12px;
						}
						
						td:nth-child(1) {
							width: 30%;
							border-right: 1px solid #cdcdcd;
						}
						td:nth-child(2) {
							width: 70%;
						}
					}
				}
			}
		}
	}
}

#viewer-window {
	float: left;
	width: 100%;
	height: 87.5%;
	background: #fff;
	border-bottom: 1px solid #cdcdcd;
	
	img {
		max-width: 90%;
		max-height: 90%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

#resource-tools {
	float: left;
	width: 100%;
	height: 60px;
	background: #f9f9f9;
	border-bottom: 1px solid #ccc !important;
	
	
	img.arrow-left-icon {
    	width: 20px;
		height: 20px;
		margin-top: 20px;
		float: left;
		display: inline;
	}
	
	img.arrow-right-icon {
        width: 20px;
		height: 20px;
		margin-top: 20px;
		float: right;
		position: relative;
		display: inline;
	}
	
	img.resources-annotate-icon {
        margin-top: 20px;
		margin-left: 10%;
		height: 20px;
		width: 20px;
		display: inline;
	}
	
	img.resources-fullscreen-icon {
    	margin-top: 20px;
		margin-left: 10%;
		height: 20px;
		width: 20px;
		display: inline;
	}
	
	img.resources-zoom-out-icon {
        margin-top: 20px;
		margin-left: 10%;
	    height: 20px;
		width: 20px;
		display: inline;
	}
	
	img.resources-zoom-in-icon {
    	margin-top: 20px;
		margin-left: 3%;
		height: 20px;
		width: 20px;
		display: inline;
	}
	
	img.resources-rotate-icon {
    	margin-top: 20px;
		margin-left: 17%;
		height: 20px;
		width: 20px;
		display: inline;
	}
	
}

.resource-tools-container {
	width: 90%;
	margin: auto;
}

#collection-title, #project-metadata, #season-metadata, #excavation-metadata, #archival-metadata {
	float: left;
	width: 100%;
	height: 40px;
	background: #f9f9f9;
	line-height: 30px;
}

#other-resources {
	min-height: 220px;
	width: 100%;
	background: #efefef;
	margin-bottom: 75px;
	position: relative;
}

.page {
	padding-left: 0;
	padding-right: 0;
	
}

.footer {
    background: #333;
    text-align: center;
    color: #888;
    font-weight: 200;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 175px;
    padding-bottom: 75px;
    margin-top: -110px;
    float: left;
    border-top: 15px solid #444;
    width: 100%;
}